<footer class="line">
  <div class="footer-container">
    <div class="btn_l">
      <%= link_to 'copyright 2016@ArtistMagnet', "/copyright" %>
    </div>
    <div class="btn_r">
      <%= link_to 'About Us', "/about" %>
      /
      <%= link_to 'Contact Us', "/contact" %>
      /
      <%= link_to 'FAQ', "/faq" %>
      /
      <%= link_to 'Terms and Conditions', "/terms_and_conditions" %>
    </div>		 
  </div>
</footer>