<!-- LEFT COLUMN -->
<div class="logo-box">
  <a href="<%=root_path%>" ><img src="/assets/logo.svg"></a>
</div>
<% if user_signed_in? %> 
  <div class="artist_box">
    <div align="center">
      <% if current_user.gender and current_user.gender.downcase == 'male' %>
        <img src="/assets/cast and crew - male.jpg"  class="simg_atist" alt="Actor">
      <% else %>
        <img src="/assets/cast and crew - female.jpg"  class="simg_atist" alt="Actor">
      <% end %>
    </div>
  </div>
  <div class="aside-nav">
    <ul class="chevron">
      <li>
        <a>Resumes</a>
        <ul>
          <% @resumes.each do |resume| %>
            <li>
              <%= link_to resume, id: "resume-#{resume.id}-link" do %>
                <%= resume.resume_name %>
              <% end %>
            </li>
          <% end %>
        </ul>					
      </li>
      <li>
        <%= link_to 'Build A Resume', new_resume_path %>
      </li>
      <li><a href="/invitations">Add Friends</a></li>
      <li><a href="#" onclick="$('#upgradeModal').modal('show')">Upgrade Your Account</a></li>
      <li><%= link_to "Manage Resumes",  resumes_path %></li>
      <li><a>Account Settings</a>
        <ul>
          <li><a href="<%=edit_user_registration_path%>">Edit Profile</a></li>
          <li><a href="#">Update Password</a></li>
        </ul>
      </li>
      <li><a href="/users/sign_out"  data-method="delete" rel="nofollow">Log out</a></li>


    </ul>
    <div id="search" class="line" >
      <div class="search-bar">
        <form>
          <input class="s-11 sfield" name="" placeholder="Search" title="Search" type="text" />
          <input type="image" class="searchbutton" name="search" src="http://www.spheretekk.com/bc/images/search-icon.gif" alt="Search">
              <!--<a class="s-1" style="padding-left: 10px;" ><i class="icon-magnifying"></i></a>-->
        </form>	 
      </div>
    </div>
  </div>
<% end %>



<div class="modal " id="upgradeModal" tabindex="-1" role="dialog" 
     aria-labelledby="upgradeModalLabel" aria-hidden="true">
     <div class="modal-dialog">
        <div class="modal-content">
           <div class="modal-header">
              <button type="button" class="close" 
                 data-dismiss="modal" aria-hidden="true">
                    &times;
              </button>
              <h4 class="modal-title" id="myModalLabel" title="Upgrade your account!">
                 Upgrade Your Account
              </h4>
           </div>
           <div class="modal-body">
		<%= render :file => 'resumes/account_tier' %>
	
           </div>
           <div class="modal-footer">
           </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>
