    <div class="container-fluid m-top-20">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">

              <% if !flash[:notice].blank? %>
              <div class="row">
                <div class="col-md-12">
                  <div class="am-notice m-bottom-20">
                    <span> <%= flash[:notice] %></span>
                  </div>
                </div>
              </div>
              <% end %>




              <div class="form-group">
                <h3 class="col-md-offset-2 col-md-10 m-bottom-20">
                  <span>Invite an Artist to <%= @to.name %> on Artist Magnet</span>
                  <a class="pull-right" href="javascript:void(0)" onclick="$('.overlay-2').hide();$('.fade-2').hide();$('#new_director_invitation').trigger('reset');">
                    <i class="fa fa-undo"></i>
                  </a>
                </h3>
              </div>

              <%= form_for([@to, @invitation], html: {class: 'form-horizontal'}) do |f| %>
                <%= render 'layouts/includes/error_explanation', entity: @invitation, offset: 2, span: 10, display: (@invitation.errors.empty? ? 'none' : 'block')  %>

                <div class="form-group">
                  <div class="mandatory field">
                    <%= f.label :first_name, {class: "col-sm-2 control-label"} %>
                    <div class="col-sm-10">
                      <%= f.text_field :first_name, {class: 'form-control', placeholder: 'Enter First Name'} %>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="mandatory field">
                    <%= f.label :last_name, {class: "col-sm-2 control-label"} %>
                    <div class="col-sm-10">
                      <%= f.text_field :last_name, {class: 'form-control', placeholder: 'Enter Last Name'} %>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="mandatory field">
                    <%= f.label :email, {class: "col-sm-2 control-label"} %>
                    <div class="col-sm-10">
                      <%= f.text_field :email, {class: 'form-control', placeholder: 'Enter Email'} %>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="field">
                    <%= f.label :text, {class: "col-sm-2 control-label"} %>
                    <div class="col-sm-10 m-bottom-5">
                      <%= f.text_area :text, {class: 'form-control', placeholder: 'Enter custom text (optional)'}  %>
                    </div>
                  </div>
                </div>
                <div class="actions form-group">
                  <div class="actions">
                    <span class="col-sm-2">
                    </span>
                    <span class="col-sm-2">
                      <%= f.submit 'Send invitation', {class: "btn btn-primary"} %>
                    </span>
                  </div>
                </div>
              <% end %>




              <div class="row">
                <div class="col-md-12">
                  <h4>
                    <span>Add an Artist to: <%= @to.name %></span>
                    <%= link_to @to do %>
                      <button class="btn btn-primary pull-right m-top-m6" type="button">Done</button>
                    <% end %>
                  </h4>
                </div>
              </div>


              <div class="row">
                <div class="col-md-12">
                  <%= form_for [@to, @invitation] do |f| %>
                    <!--<h5>-->
                      <!--<span>or invite an Artist to Artist Magnet</span>-->
                    <!--</h5>-->
                    <div class="col-sm-12">
                      <div class="row am-alert">
                        <% if @invitation.errors.any? %>
                          <%= content_tag 'div', 'Please review the following:' %>
                          <ul>
                            <% @invitation.errors.full_messages.each do |error_message| %>
                              <%= content_tag 'li', error_message %>
                            <% end %>
                          </ul>
                        <% end %>
                      </div>

                      <div class="row">
                        <div class="form-group">
                          <div class="field">
                            <div class="row">
                              <div class="col-sm-3">
                                <%= f.text_field :first_name, {placeholder: "First name", class: "form-control"} %>
                              </div>
                              <div class="col-sm-3">
                                <%= f.text_field :last_name, {placeholder: "Last name", class: "form-control"} %>
                              </div>
                              <div class="col-sm-3">
                                <%= f.text_field :email, {placeholder: "Email", class: "form-control"} %>
                              </div>
                              <%= hidden_field_tag 'role[name]', 'N.A.' %>
                            </div>
                            <div class="row">
                              <div class="col-sm-3">
                                <%= f.text_area :text, {placeholder: "Enter custom text (optional)", class: "form-control"} %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <%= button_tag 'Send invitation', {class: "btn btn-primary"} %>
                  <% end %>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  <!--< % end %>-->
</div>
