    <div class="container-fluid m-top-20">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">

              <% if !flash[:notice].blank? %>
              <div class="row">
                <div class="col-md-12">
                  <div class="am-notice m-bottom-20">
                    <span> <%= flash[:notice] %></span>
                  </div>
                </div>
              </div>
              <% end %>

              <div class="row">
                <div class="col-md-12">
                  <h4>
                    <span>Add an Artist to: <%= @to.name %></span>
                    <%= link_to @to do %>
                      <button class="btn btn-primary pull-right m-top-m6" type="button">Done</button>
                    <% end %>
                  </h4>
                </div>
              </div>


              <div class="row">
                <!--<div class="col-md-12 m-bottom-20">-->
                  <!--< %= form_for [@production, @role] do %>-->
                    <!--<h5>-->
                      <!--<span>Link an Artist Magnet member</span>-->
                    <!--</h5>-->
                    <!--<div class="form-group">-->
                      <!--<div class="field">-->
                        <!--<div class="row">-->
                          <!--<div class="col-sm-6">-->
                            <!--< %= collection_select :role, :resume_id, Resume.artists.sort_by{ |resume| resume.name }, :id, :name, {prompt: 'Select artist'}, {class: "form-control chosen-select"} %>-->
                          <!--</div>-->
                          <!--&lt;!&ndash;<div class="col-sm-6">&ndash;&gt;-->
                            <!--&lt;!&ndash;< %= text_field :role, :name, {placeholder: "Role", class: "form-control"} %>&ndash;&gt;-->
                          <!--&lt;!&ndash;</div>&ndash;&gt;-->
                          <!--< %= hidden_field_tag 'role[name]', 'N.A.' %>-->
                          <!--< %= hidden_field_tag 'role[production_id]', @production.id %>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--< %= button_tag 'Update', {class: "btn btn-primary"} %>-->
                  <!--< % end %>-->
                <!--</div>-->


                <div class="col-md-12">
                  <%= form_for [@to, @invitation] do |f| %>
                    <!--<h5>-->
                      <!--<span>or invite an Artist to Artist Magnet</span>-->
                    <!--</h5>-->
                    <div class="col-sm-12">
                      <div class="row am-alert">
                        <% if @invitation.errors.any? %>
                          <%= content_tag 'div', 'Please review the following:' %>
                          <ul>
                            <% @invitation.errors.full_messages.each do |error_message| %>
                              <%= content_tag 'li', error_message %>
                            <% end %>
                          </ul>
                        <% end %>
                      </div>

                      <div class="row">
                        <div class="form-group">
                          <div class="field">
                            <div class="row">
                              <div class="col-sm-3">
                                <%= f.text_field :first_name, {placeholder: "First name", class: "form-control"} %>
                              </div>
                              <div class="col-sm-3">
                                <%= f.text_field :last_name, {placeholder: "Last name", class: "form-control"} %>
                              </div>
                              <div class="col-sm-3">
                                <%= f.text_field :email, {placeholder: "Email", class: "form-control"} %>
                              </div>
                              <!--<div class="col-sm-3">-->
                                <!--< %= f.text_field :role, {placeholder: "Role", class: "form-control"} %>-->
                              <!--</div>-->
                              <%= hidden_field_tag 'role[name]', 'N.A.' %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <%= button_tag 'Send invitation', {class: "btn btn-primary"} %>
                  <% end %>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  <!--< % end %>-->
</div>
