    <div class="container-fluid m-top-20">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
	      <%= render partial: 'layouts/includes/facebook' %>


              <%= render partial: 'layouts/includes/notice' %>

              <div class="form-group">
                <h3 class="col-md-offset-2 col-md-10 m-bottom-20">
                  <span>Invite an Artist to <%= @to.name %> on Artist Magnet</span>
                  <%= link_to @to do %>
                    <button class="btn btn-primary pull-right m-top-m6" type="button">Done</button>
                  <% end %>
                </h3>
              </div>

              <%= form_for([@to, @invitation], html: {class: 'form-horizontal'}) do |f| %>
                <%= render 'layouts/includes/error_explanation', entity: @invitation, offset: 2, span: 10, display: (@invitation.errors.empty? ? 'none' : 'block')  %>

                <div class="form-group">
                  <div class="field">
                    <label class="col-sm-2 control-label" >Artist's First Name</label>
                    <div class="col-sm-10">
                      <%= f.text_field :first_name, {class: 'form-control', placeholder: 'Artist\'s First Name'} %>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="field">
                    <label class="col-sm-2 control-label" >Artist's Last Name </label>
                    <div class="col-sm-10">
                      <%= f.text_field :last_name, {class: 'form-control', placeholder: 'Artist\'s Last Name'} %>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="mandatory field">
                    <label class="col-sm-2 control-label" >Artist's Email </label>
                    <div class="col-sm-10">
                      <%= f.text_field :email, {class: 'form-control', placeholder: 'Artist\'s Email'} %>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="field">
                    <label class="col-sm-2 control-label" >Custom Message to the Artist </label>
                    <div class="col-sm-10 m-bottom-5">
                      <%= f.text_area :text, {class: 'form-control', placeholder: 'Custom Message to the Artist'}  %>
                      <br>
			<p>
		The following automatic message will be added to your email: <i> I
am building a new Resume on Artist Magnet - a new social network for
Theatre people connecting Artists through Shows and Venues everywhere
- to help me complete my Resume, please build your own Resume and link
to mine.  You can do it here: <a href="http://www.ArtistMagnet.com">http://www.ArtistMagnet.com</a></i>	
	</p> 
		    </div>
                  </div>
                </div>
                <div class="actions form-group">
                  <div class="actions">
                    <span class="col-sm-2">
                    </span>
                    <span class="col-sm-2">
                      <%= f.submit 'Send invitation', {class: "btn btn-primary"} %>
                    </span>
                  </div>
                </div>

              <% end %>
	
 


            </div>
          </div>
        </div>
      </div>
    </div>

  <!--< % end %>-->
</div>
