 <br>
  <div class='row'>
    <div class='col-md-12'>
        <a href="/auth/facebook"><img src="/assets/bigfacebook.png" class="img-responsive" alt="" /></a>
      <hr class="featurette-divider"></hr>
      
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name),:html=>{:id=>"signupForm",:class=>""}) do |f| %>             
        <%= devise_error_messages! %>
        <%= flash[:error]%>
          
        <div class='form-row'>
          <div class='col-xs-6 form-group'>
            <label class='control-label'>First Name</label>
             <%= f.text_field :first_name, autofocus: true,:class=>'form-control ' ,:placeholder=>'First Name',:id=>"first_name" %>
          </div>
          <div class='col-xs-6 form-group '>
            <label class='control-label'>Last Name</label>
            <%= f.text_field :last_name,:class=>'form-control ' ,:placeholder=>'Last Name',:id=>"last_name" %>
          </div>             
        </div>

        <div class='form-row'>
          <div class='col-xs-6 form-group '>
            <label class='control-label'>Date Of Birth</label>
              <%= f.text_field :dob,:class=>'form-control ' ,:placeholder=>'Date of Birth',:id=>"datepicker" %>
          </div>
          <div class='col-xs-6 form-group'>
            <label class='control-label'>Gender</label>
            <label class="radio-inline">
      		   <%= f.radio_button :gender,"Male" %>Male
        		</label>
        		<label class="radio-inline">				 
        		  <%= f.radio_button :gender,"Femele" %>Femele
        		</label>				
          </div>             
        </div>
        <div class='form-row'>
          <div class='col-xs-12 form-group required'>
            <label class='control-label'>Email</label>
            <%= f.text_field :email,:class=>'form-control ' ,:placeholder=>'Email',:id=>"email" %>
          </div>
        </div>

        <div class='form-row'>
          <div class='col-xs-12 form-group required'>
            <label class='control-label'>Email Confirmation</label>
            <%= f.text_field :email,:class=>'form-control ' ,:placeholder=>'Email' ,:id=>"confirm_email"%>
          </div>
        </div>

        <div class='form-row'>
          <div class='col-xs-6 form-group '>
            <label class='control-label'>Password</label>
            <%= f.password_field :password, autocomplete: "off",:class=>'form-control ',:id=>"password" %>
          </div>
          <div class='col-xs-6 form-group '>
            <label class='control-label'>Password Confirmation</label>
            <%= f.password_field :password_confirmation, autocomplete: "off",:class=>'form-control ',:id=>"password_confirmation" %>
          </div>             
        </div>

        <div class='form-row'>
          <div class='col-xs-12 form-group '>
            <label class='control-label'>Member Type</label><br/>
            <label class="radio-inline">
      		   <%= f.radio_button :member_type,"Artist" %>Artist<span data-toggle="popover" data-placement="top" title="Tooltip on top">(?)</span>
      		</label>
      		<label class="radio-inline">				 
      		  <%= f.radio_button :member_type,"Company" %>Company<span data-toggle="popover" data-placement="top" title="Tooltip on top">(?)</span>
      		</label>
          </div>
        </div>

        <div class='form-row'>
          <div class='col-md-12 form-group'>  
          <%= show_simple_captcha %>            
          </div>
        </div> 
       
        <div class='form-row'>
          <div class='col-md-4 form-group'>  
            <%= f.submit "Sign up",:class=>'form-control btn btn-primary submit-button' %>           
          </div>
          <div class='col-md-8 form-group'> 
          By clicking register, you agree to Artist Magnet’s<a href="/terms_and_conditions" target="_blank"> Terms and Conditions</a>
          </div>
        </div>    
      <%end%>
    </div>      
  </div>
</div>
</div>
<br>


<%= render "devise/shared/links" %>

  
  <script>  
  $(document).ready(function() {
    var field3 = new LiveValidation( 'first_name', {onlyOnSubmit: false } );
    field3.add( Validate.Presence );

    var field3 = new LiveValidation( 'last_name', {onlyOnSubmit: false } );
    field3.add( Validate.Presence );

    var f19 = new LiveValidation('confirm_email');
    f19.add( Validate.Confirmation, { match: 'email' } );
      });
  </script>

