<!-- Welcome, <%= @user.name%>
<h2>Your login credential are:-</h2>
<p>
	<strong>Email: </strong> <%=@user.email%>
</p>
<p>
	<strong>Password: </strong> <%=@password%>
</p>
<p><a href="<%= new_user_session_url %>" > <span>Sign In</span></a></p>
<p>
	<strong>
		Thanks
	</strong>
</p> -->
Dear <%= @user.first_name%>: 
<p>
Thank you for joining Artist Magnet - a new social network for Theatre people connecting Artists through Shows and Venues everywhere. Invite your fellow Artists to join Artist Magnet by clicking on this link: http://artist-resume.herokuapp.com/invitations Thanks again, and see you soon on Artist Magnet, The Artist Magnet Team http://www.ArtistMagnet.com" 
</p>