<tr class="ui-state-disabled" id="bold_col">
  <%= c.hidden_field :id %>  
  <%= c.fields_for "ccolumns", c.object.ccolumns, :wrapper => false do |column| %>
    <% column_name = column.object_name+'[]' %>
    <% @resume_customs_header_size.times do |index|  %>
      <td class="col-sm-<%= index >=5 ? 1 : 2 %> drag-enable">
        <%= column.text_field_tag column_name, c.object.new_record? ? "" : column.object[index],
                    placeholder: column.object[index],
                    class: "form-control diminished-font custom_cols customs col#{index+1}",
                    id: index+1 %>
      </td>
    <% end -%>
  <% end -%>

  <td class="col-sm-1 drag-enable">
    <%= c.hidden_field :is_bold, class: "tr_bold", value: :true %>
  </td>
</tr>