<div class="fields">
 <div class="form-group "> 
    <!-- <div class="col-sm-1"></div>                     -->
    <div class="col-sm-2">
      <a class="btn btn-default remove_cols" id="col1" title="Remove Column" data-association="<%=section%>">-</a>
     <!--  <a class="btn btn-default remove_nested_fields remove_cols" id="col1" title="Remove Column" data-association="<%#=section%>">-</a> -->
    </div>
    <div class="col-sm-2">
      <a class="btn btn-default remove_cols" id="col2" title="Remove Column" data-association="<%=section%>">-</a>
    </div>
    <div class="col-sm-2">
      <a class="btn btn-default remove_cols" id="col3" title="Remove Column" data-association="<%=section%>">-</a>
    </div>
    <div class="col-sm-2">
      <a class="btn btn-default remove_cols" id="col4" title="Remove Column" data-association="<%=section%>">-</a>
    </div>
    <div class="col-sm-2">
      <a class="btn btn-default remove_cols section-<%=section%>" id="col5" title="Remove Column" data-association="<%=section%>"><%=(section=='customs') ? "X" : "-"%></a>
    </div>
    <%if section!="representations"%>
      <div class="col-sm-1">
        <a class="btn btn-default remove_cols section-<%=section%>" id="col6" title="Remove Column" data-association="<%=section%>"><%=(section=='customs') ? "X" : "-"%></a>
      </div>
    <%end%>
    <div class="col-sm-1">
      <a class="btn btn-default add_cols" id="" title="Add Column" data-association="<%=section%>">+</a>
    </div>
    <br /><br />
  </div>
</div>
