<% education_header = @resume.educations.first.ecolumns %>
      
<tr class="fields">
  <%= e.hidden_field :id %>  
  <%= e.fields_for "ecolumns", e.object.ecolumns, :wrapper => false do |column| %>
    <% column_name = column.object_name+'[]' %>
    <% education_header.size.times do |index|  %>
      <td class="col-sm-<%= index >=5 ? 1 : 2 %> drag-enable">
        <%= column.text_field_tag column_name, column.object[index]||"",
                    class: "form-control diminished-font educations col#{index+1}" %>
      </td>
    <% end -%>
  <% end -%>

  <td class="col-sm-1 drag-enable">
    <%= e.link_to_remove "-",:class=>"btn btn-default remove_row",:title=>"Remove Row",data: {confirm: 'Are you sure?'}%>
    <%= e.hidden_field :is_bold, class: "tr_bold", value: :false %>
  </td>
</tr>
