<tr>
 
    <!-- <div class="col-sm-1"></div>                     -->
    <th class="col-sm-2">
       <div class="table-handle"></div>
      <a class="btn btn-default remove_cols" id="col1" title="Remove Column" data-association="<%=section%>">-</a>
     <!--  <a class="btn btn-default remove_nested_fields remove_cols" id="col1" title="Remove Column" data-association="<%#=section%>">-</a> -->
    </th>
    <th class="col-sm-2">
     <div class="table-handle"></div>
      <a class="btn btn-default remove_cols" id="col2" title="Remove Column" data-association="<%=section%>">-</a>
    </th>
    <th class="col-sm-2">
      <div class="table-handle"></div>
      <a class="btn btn-default remove_cols" id="col3" title="Remove Column" data-association="<%=section%>">-</a>
    </th>
    <th class="col-sm-2">
      <div class="table-handle"></div>
      <a class="btn btn-default remove_cols" id="col4" title="Remove Column" data-association="<%=section%>">-</a>
    </th>
    <th class="col-sm-2">
      <div class="table-handle"></div>
      <a class="btn btn-default remove_cols section-<%=section%>" id="col5" title="Remove Column" data-association="<%=section%>"><%=(section=='customs') ? "X" : "-"%></a>
    </th>
    <%if section!="representations"%>
      <th class="col-sm-1">
        <div class="table-handle"></div>
        <a class="btn btn-default remove_cols section-<%=section%>" id="col6" title="Remove Column" data-association="<%=section%>"><%=(section=='customs') ? "X" : "-"%></a>
      </th>
    <%end%>
    <th class="col-sm-1">
      <a class="btn btn-default add_cols" id="" title="Add Column" data-association="<%=section%>">+</a>
    </th>
    
</tr>
