<% education_header = @resume.educations.first.ecolumns %>
      
<tr class="ui-state-disabled" id="bold_col">
  <%= e.hidden_field :id %>  
  <%= e.fields_for "ecolumns", e.object.ecolumns, :wrapper => false do |column| %>
    <% column_name = column.object_name+'[]' %>
    <% education_header.size.times do |index|  %>
      <td class="col-sm-<%= index >=5 ? 1 : 2 %> drag-enable">
        <%= column.text_field_tag column_name, column.object[index]||"",
                    placeholder: column.object[index],
                    class: "form-control diminished-font educations education col#{index+1}",
                    id: index+1 %>
      </td>
    <% end -%>
  <% end -%>

  <td class="col-sm-1 drag-enable">
    <%= e.hidden_field :is_bold, class: "tr_bold", value: :true %>
  </td>
</tr>