<%education(repr,"custom","representation")%>
<div class="fields">
 <div class="form-group ">
    <div class="col-sm-2">
      <input class="form-control repr_cols col1" name="company" value="<%= education(repr,"custom","representation").present? ? !education(repr,"custom","representation")[1].blank? ? education(repr,"custom","representation")[1] : "" : ""%>" placeholder="Enter Representation Title" type="text", id="1">
    </div>
    <div class="col-sm-2">
      <input class="form-control repr_cols col2" name="contact_name" value="<%= education(repr,"custom","representation").present? ? !education(repr,"custom","representation")[2].blank? ? education(repr,"custom","representation")[2] : "" : ""%>" placeholder="Enter Representation Title" type="text" id="2">
    </div>
    <div class="col-sm-2">
      <input class="form-control repr_cols col3" name="title" value="<%= education(repr,"custom","representation").present? ? !education(repr,"custom","representation")[3].blank? ? education(repr,"custom","representation")[3] : "" : ""%>" placeholder="Enter Representation Title" type="text" id="3">
    </div>
    <div class="col-sm-2">
      <input class="form-control repr_cols col4" name="phone" value="<%= education(repr,"custom","representation").present? ? !education(repr,"custom","representation")[4].blank? ? education(repr,"custom","representation")[4] : "" : ""%>" placeholder="Enter Representation Title" type="text" id="4">
    </div>
    <div class="col-sm-2">
      <input class="form-control repr_cols col5" name="address" value="<%= education(repr,"custom","representation").present? ? !education(repr,"custom","representation")[5].blank? ? education(repr,"custom","representation")[5] : "" : ""%>"  placeholder="Enter Representation Title" type="text" id="5">
    </div>    
    <div class="col-sm-1">
      <a class="btn btn-default remove_nested_fields remove_columns" data-association="representation" data-success="true" href="javascript:void(0)">Remove</a>
    </div>
  </div>
</div>
