
<% remoteForm  ||= false %>
<% queryFormat ||= (remoteForm ? 'json' : '') %>
<% html_class  ||= '' %>

<div id="add-production" >

  <div class="panel panel-default" >

    <div class="panel-body">
      <h3 class="col-md-offset-2 col-md-10 m-bottom-20">
        <span>Add a new Production</span>
        <% if remoteForm %>
          <a class="pull-right" href="javascript:void(0)" onclick="$('.overlay-2').hide();$('.fade-2').hide()">
            <i class="fa fa-undo"></i>
          </a>
        <% end %>
      </h3>

    <%= form_for(@production, remote: remoteForm, format: queryFormat, html: {class: html_class + ' form-horizontal'}) do |f| %>
      <%= render 'layouts/includes/error_explanation', entity: @production, offset: 2, span: 10 %>

      <div class="form-group">
        <div class="field">
          <%= f.label :name, {class: "col-sm-2 control-label"} %>
          <div class="col-sm-10">
            <%= f.text_field :name, {class: 'form-control', placeholder: 'Enter Name'} %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="field">
          <%= f.label :company, {class: "col-sm-2 control-label"} %>
          <div class="col-sm-10">
            <%= f.collection_select :company_id, Company.all.order(:name), :id, :name_with_city, {include_blank: true},
                                    {:class => 'form-control chosen-select m-left-m8',
                                     data: {
                                         add_as_new_label:  'To add it as a new Company, click here'
                                     }
                                    } %>
            <%= link_to "Add one", '#', {:class => 'extend-list'} %>
          </div>
        </div>
      </div>
      <%= f.fields_for :shows do |fs| %>
        <div class="form-group">
          <div class="field">
            <%= fs.label :venue, {class: "col-sm-2 control-label"} %>
            <div class="col-sm-10">
              <%= fs.collection_select :venue_id, Venue.all.order(:name), :id, :name_with_city, {include_blank: true},
                                       {:class => 'form-control chosen-select m-left-m8',
                                         data: {
                                           add_as_new_label:  'To add it as a new Venue, click here'
                                         }
                                       } %>
              <%= link_to "Add one", '#', {:class => 'extend-list'} %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="field">
            <%= fs.label "Opening", {class: "col-sm-2 control-label"} %>
            <div class="col-sm-10">
              <div class="m-left-6">
                <%= fs.date_select :date, @show.get_date_select_opt, {class: 'form-control date chosen-select', style: 'display: inline;'} %>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <div class="form-group">
        <div class="field">
          <%= f.label :description, {class: "col-sm-2 control-label"} %>
          <div class="col-sm-10">
            <%= f.text_area :description, {class: 'form-control', placeholder: 'Enter description'} %>
          </div>
        </div>
      </div>
      <div class="actions form-group form-inline">
        <span class="col-sm-1 col-sm-offset-2">
          <%= f.button 'Done', {class: "btn btn-primary m-top-m6"} %>
        </span>
        <% if !remoteForm  %>
        <span class="col-sm-1">
          <%= link_to 'Cancel', :back, {class: "btn btn-default m-top-m6"} %>
        </span>
        <% end %>
      </div>
    <% end %>
    </div>

  </div>
</div>

