<% remoteForm  ||= false %>
<% queryFormat ||= '' %>
<% html_class  ||= '' %>


<% if remoteForm  %>
<div id="add-production" style="display: none">
<% else %>
<div id="add-production">
<% end %>
  Create a production
  <%= form_for(@production, remote: remoteForm, format: queryFormat, html: {class: html_class}) do |f| %>
    <div id="error_explanation" style="display: none">
      <ul>
        <% if @production.errors.any? %>
          <% @production.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :company %><br>
      <%= f.collection_select :company_id, Company.all.order(:name), :id, :name, {}, {:class => 'company-selector'} %>
      <%= link_to "Add one", '#', {:class => 'extend-list'} %>
    </div>
    <%= f.fields_for :shows do |fs| %>
      <div class="field">
        <%= fs.label :venue %><br>
        <%= fs.collection_select :venue_id, Venue.all.order(:name), :id, :name %>
        <%= link_to "Add one", '#', {:class => 'extend-list'} %>
      </div>
      <div class="field">
        <%= fs.label "Premiere date (you can add more dates later)" %><br>
        <%= fs.date_select :date %>
      </div>
      <!--< %= hidden_field_tag production_id,-->
    <% end %>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>

<div id="add-company" style="display: none">
  Create a company
  <%= render 'companies/form' %>
</div>

<div id="add-venue" style="display: none">
  Create a venue
  <%= render 'venues/form' %>
</div>
