
<% remoteForm  ||= false %>
<% queryFormat ||= '' %>
<% html_class  ||= '' %>

<% if remoteForm  %>
<div id="add-production" class="overlay overlay-1" >
<% else %>
<div id="add-production" class="overlay overlay-1" style="display: block">
<% end %>

  <div class="panel panel-default" >

    <h3>
      <span>Production</span>
      <a class="pull-right" href="javascript:void(0)" onclick="$('.overlay-1').hide();$('.fade-1').hide()">
        <i class="fa fa-undo"></i>
      </a>
    </h3>

    <div class="panel-body">
    <%= form_for(@production, remote: remoteForm, format: queryFormat, html: {class: html_class + ' form-horizontal'}) do |f| %>
      <div id="error_explanation" style="display: none">
        <ul>
          <% if @production.errors.any? %>
            <% @production.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          <% end %>
        </ul>
      </div>

      <div class="form-group">
        <div class="field">
          <%= f.label :name, {class: "col-sm-2 control-label"} %>
          <div class="col-sm-10">
            <%= f.text_field :name %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="field">
          <%= f.label :company, {class: "col-sm-2 control-label"} %>
          <div class="col-sm-10">
            <%= f.collection_select :company_id, Company.all.order(:name), :id, :name, {include_blank: true}, {:class => 'company-selector'} %>
            <%= link_to "Add one", '#', {:class => 'extend-list'} %>
          </div>
        </div>
      </div>
      <%= f.fields_for :shows do |fs| %>
        <div class="form-group">
          <div class="field">
            <%= fs.label :venue, {class: "col-sm-2 control-label"} %>
            <div class="col-sm-10">
              <%= fs.collection_select :venue_id, Venue.all.order(:name), :id, :name, {include_blank: true} %>
              <%= link_to "Add one", '#', {:class => 'extend-list'} %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="field">
            <%= fs.label "Opening", {class: "col-sm-2 control-label"} %>
            <div class="col-sm-10">
              <%= fs.date_select :date %>
            </div>
          </div>
        </div>
        <!--< %= hidden_field_tag production_id,-->
      <% end %>

      <div class="form-group">
        <div class="field">
          <%= f.label :description, {class: "col-sm-2 control-label"} %>
          <div class="col-sm-10">
            <%= f.text_area :description %>
          </div>
        </div>
      </div>
        <div class="form-group">
          <div class="field">
            <%= f.label :director, {class: "col-sm-2 control-label"} %>
            <div class="col-sm-10">
              <%= f.collection_select :director_id, User.all.order(:email), :id, :name, {include_blank: true} %>
            </div>
          </div>
        </div>
        <% invited = @production.director_invitations.order(:updated_at).try(:last) %>
        <% unless invited.try(:full_name).blank? %>
        <div class="form-group">
          <div class="field">
            <%= f.label :Invited, {class: "col-sm-2 control-label"} %>
            <div class="col-sm-10" style="margin-top: 6px">
              <%= invited.full_name %>
            </div>
          </div>
        </div>
        <% end %>
        <%= f.fields_for [@production.director_invitations.last] do |ft| %>
          <div class="form-group">
            <div class="field">
              <%= ft.label "Or invite new director", {class: "col-sm-2 control-label"} %>
              <div class="col-sm-10">
                <%= ft.text_field :first_name, {placeholder: "First name"} %>
                <%= ft.text_field :last_name, {placeholder: "Last name"} %>
                <%= ft.text_field :email, {placeholder: "Email"} %>
              </div>
            </div>
          </div>
        <% end %>
      <div class="actions form-group">
        <div class="col-sm-10 pull-right">
          <%= f.button 'Done', {class: "btn btn-primary m-top-m6"} %>
        </div>
      </div>
    <% end %>
    </div>

  </div>
</div>

<!--modal background-->
<div class="fade fade-1"></div>

<div id="add-company" class="overlay overlay-2" style="display: none">
  <%= render 'companies/form' %>
</div>
<div class="fade fade-2"></div>

<div id="add-venue" class="overlay overlay-2" style="display: none">
  <%= render 'venues/form' %>
</div>
<div class="fade fade-2"></div>
