<div id="content" style="min-height: 873px;">
  <div class="container-fluid m-top-20">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">

                <div class="page-title" style="margin-left: 0px; display: block">
                  <a href="#" id="toggle-menu"><i class="typcn typcn-th-menu"></i></a>
                </div>
                <span class="pull-right m-left-15" style="width: 180px; height: 180px; background-image: url('/images/fallback/curtain-180.jpg')"></span>
                <h3>
                  <%= @production.name %>
                  <%= link_to edit_production_path @production do %>
                    <!--<button class="btn btn-primary m-top-m6" type="button">Edit</button>-->
                    <i class="fa fa-edit m-left-10" ></i>
                  <% end %>
                  </h3>
                <p>
                  <% unless @production.current_venue_name.blank? %>
                    at <%= link_to @production.current_venue_name, @production.current_venue %></a> <br />
                  <% end %>
                  <% unless @production.company_name.blank? %>
                    by <%= link_to @production.company_name, @production.company %></a> <br />
                  <% end %>
                  <%= "Opening #{@production.opening_date}" unless @production.opening_date.nil?  %> </p>
                <p><%= @production.description %> </p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <h4>
                  <span>Director</span>
                  <%= link_to production_director_invitations_path(@production) do %>
                    <button class="btn btn-primary pull-right m-top-m6" type="button"> <%= @production.director_name.nil? ? 'Add Director' : 'Change Director' %></button>
                  <% end %>
                </h4>
                <% if @production.director_id.nil? %>
                  <%= @production.director_name %>
                <% else %>
                  <%= link_to @production.director_name, @production.director %>
                  <br />

                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <h4>
                  <span>Cast & Crew</span>
                  <%= link_to  production_artist_invitations_path @production do %>
                    <button class="btn btn-primary pull-right m-top-m6" type="button">Add Artists to this Production</button>
                  <% end %>
                </h4>
                <br />
              </div>
              <% roles = @production.roles.to_a %>
              <%= puts roles.to_json %>
              <%= render partial: 'layouts/includes/actor_widgets_row', locals: {roles: roles} %>
            </div>
            <% ((roles.length+3)/4).times do |row| %>
            <div class="row">
              <%= render partial: 'layouts/includes/actor_widgets_row', locals: {roles: roles}  %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

