<% unless user_signed_in? %>
  <br/>
  <%= render 'layouts/includes/signin' %>
<%else%>
  <hr/>
  <h5><%= @greeting %>, <%=current_user.try(:name)%></h5>

  <% unless @fb_friends.blank? %>
    <h2> Facebook Friends:</h2>
    <div class="row friends-list">
      <ul class="pull-left">
        <% @fb_friends.each do |friend|%>
          <li>
            <div class="friend-box">
              <img src="<%=friend["pic_square"]%>">
              <%= friend["name"]%><br/>
              <%= friend["email"]%>
              <a href="#-" class="invite_fb_friends" id="<%= friend['id'] %>">INVITE!</a>
            </div>
          </li>
        <%end%>
      <ul>
    </div>
  <%end%>
  <h3>Invite Friends by Email</h3>
  <div class="my-form">
    <%= form_for(@invitation) do |f| %>
      <p class="text-box">
        <label for="box1">Email <span class="box-number">1</span></label>
        <%= email_field_tag "email[]",nil,:id=>"box1" %>
        <a class="add-box" href="#">Add More</a>
      </p>
      <p><input type="submit" value="Send Invitation" /></p>
    <%end%>
  </div>
<%end %>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=676891735738912&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

</script>

<script type="text/javascript">
  // var talent_id = 1
    $(document).on('click','.invite_fb_friends',function(e){
        e.preventDefault();
        FB.ui({
          method: 'send',
          link: 'http://artist-resume.herokuapp.com',
          to: this.id
        });
    });
</script>