
  <%= form_for(@invitation) do |f| %>
    <% if @invitation.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@invitation.errors.count, "error") %> prohibited this invitation from being saved:</h2>

        <ul>
        <% @invitation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
<div class="form-group">

    <div class="field">
      <label class="col-sm-2 control-label">Friend's First Name</label>
      
      <div class="col-sm-10">
  
	<%= f.text_field :first_name %>
    </div>
</div>
<div class="form-group">
    <div class="field">
      <label class="col-sm-2 control-label">Friend's Last Name</label>
      <div class="col-sm-10">
	<%= f.text_field :last_name %>
      </div>
    </div>
</div>
<div class="form-group">
    <div class="field">
      <label class="col-sm-2 control-label">Friend's Email</label>
      
       <div class="col-sm-10"> 
	<%= f.email_field :email %>
       </div>
    </div>
</div>
<div class="form-group">
    <div class="field">
      <label class="col-sm-2 control-label">Custom Message for your Friend</label>
      <div class="col-sm-10"
        <%= f.text_area :text %>
      </div>
    </div>
</div>
<div class="actions form-group">
  <div class="actions">
    <span class="col-sm-2">
    </span>
    <span class="col-sm-2">
      <%= f.submit 'Send invitation', {class: "btn btn-primary"} %>
    </span>
  </div>
</div>
  

<%end%>
