<h1>Listing invitations</h1>

<table class="table">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>State</th>
      <th>Text</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @invitations.each do |invitation| %>
      <tr>
        <td><%= invitation.first_name %></td>
        <td><%= invitation.last_name %></td>
        <td><%= invitation.email %></td>
        <td><%= invitation.state %></td>
        <td><%= invitation.text %></td>
        <td><%#= link_to 'Show', invitation %></td>
        <td><%#= link_to 'Edit', edit_invitation_path(invitation) %></td>
        <td><%#= link_to 'Destroy', invitation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invitation', invitations_new_path %>
<a href="/auth/facebook"><img src="/assets/bigfacebook.png" class="img-responsive" alt="" /></a>
<%if $fb_friends.present?%>
  <h2> Facebook Friends:</h2>
  <div class="row friends-list">
    <ul class="pull-left">
    <% $fb_friends.each do |friend|%>
      <li>
        <div class="friend-box">
        <img src="<%=friend["pic_square"]%>">
        <%= friend["name"]%><br/>
        <a href="#-" class="invite_fb_friends" id="<%= friend['id'] %>">INVITE!</a>
        </div>
      </li>
    <%end%>
    <ul>
  </div>  
<% end %>
 <script>
//   $(document).on("click", ".invite_fb_friends", function(){
//     $.ajax({
//       method: "POST",
//       url: "/invitations",
//       data: {uid: this.id}
//     });    
//   });
</script>