<h3>Your Sent Invitations</h3>

<table class="table">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Date</th>
      <th>Custom Message</th>
    </tr>
  </thead>

  <tbody>
    <% @invitations.each do |invitation| %>
      <tr>
        <td><%= invitation.first_name %></td>
        <td><%= invitation.last_name %></td>
        <td><%= invitation.email %></td>
        <td><%= invitation.created_at %></td>
        <td><%= invitation.text %></td>
        <!-- <td><%#= link_to 'Show', invitation %></td> -->
        <!-- <td><%#= link_to 'Edit', edit_invitation_path(invitation) %></td> -->
        <!-- <td><%#= link_to 'Destroy', invitation, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<h3>Invite Artists to Artist Magnet with Facebook</h3>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr> 
  </thead>   
  <tbody>
    <% @fb_friends && @fb_friends.each do |friend|%>
      <tr>
       <td><%= friend["name"]%></td>
       <td> <%= friend["email"]%></td>
      </tr>
    <%end%>
  </tbody>
</table>
<br/>
<h3>Invite Artists to Artist Magnet with Email</h3>

<table class="table">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% @invitations.each do |invitation| %>
      <tr>
        <td><%= invitation.first_name %></td>
        <td><%= invitation.last_name %></td>
        <td><%= invitation.email %></td>
        <td><%= invitation.text %></td>
      </tr>
    <% end %>
  </tbody>
</table>

  

<%#= link_to user_artist_invitations_path current_user do %>
 <!--  <button class="btn btn-primary pull-right m-top-m6" type="button">Invite an Artist to Artist Magnet</button> -->
<%# end %>
 

<!-- <a href="/auth/facebook"><img src="/assets/bigfacebook.png" class="img-responsive" alt="" /></a>
<%#if $fb_friends.present?%>
  <h2> Facebook Friends:</h2>
  <div class="row friends-list">
    <ul class="pull-left">
    <%# $fb_friends.each do |friend|%>
      <li>
        <div class="friend-box">
        <img src="<%#=friend["pic_square"]%>">
        <%#= friend["name"]%><br/>
        <a href="#-" class="invite_fb_friends" id="<%#= friend['id'] %>">INVITE!</a>
        </div>
      </li>
    <%#end%>
    <ul>
  </div>  
<%# end %> -->
 <script>
//   $(document).on("click", ".invite_fb_friends", function(){
//     $.ajax({
//       method: "POST",
//       url: "/invitations",
//       data: {uid: this.id}
//     });    
//   });
</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=676891735738912&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

</script>

<script type="text/javascript">
  // var talent_id = 1
    $(document).on('click','.invite_fb_friends',function(e){
        e.preventDefault();
        FB.ui({
          method: 'send',
          link: 'http://artist-resume.herokuapp.com',
          to: this.id
        });
    });
</script>
