<!-- RIGHT COLUMN --> 
<div class="box">
  <!-- HEADER -->     
  <div class="line">
    <section>
      <div class="line">
        <div class="line">
          <div class="margin">
            <div class="s-12 l-8">
              <div class="box_text_container">
                <h4><%= @venue.name %></h4>
                <%= @venue.full_address %>
                <br><br>
                <%= @venue.phone %>
                <br>
                <a href="mailto:<%= @venue.email %>"><%= @venue.email %></a>
                <br><br>
              </div>
              <%= link_to venue_artist_invitations_path @venue do %>
                <button class="btn_auk" type="button">Add Artists</button>
              <% end %>
              <br>

              <div class="social-share-button" data-title="<%= @venue.name %>" data-img=<%= image_url 'Venue_md.jpg' %> data-popup="true">
                <%= render 'layouts/includes/socialicons' %>
              </div>
            </div>
            <div class="s-12 l-4 rocket_block_container">
              <% if @venue.photo && @venue.photo.try(:image).present? %>
                <%=image_tag @venue.photo.image(:medium), class: 'rocket_bock_a'%>
              <%else%>
                <%=image_tag 'Venue_md.jpg', class: 'rocket_bock_a'%>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
		
			   
<div class="box last_box">
<!-- HEADER -->     
  <div class="line">
    <section>
      <h3>Productions</h3>
      <div class="line">
        <div class="line">
          <div class="margin">                               
            <center>
              <% productions = Production.includes(:shows).where(shows: {venue_id: @venue.id}).order('shows.date desc').uniq.to_a %>
              <% productions.each do |production| %>
                <%= link_to(production) do %>
                  <div class="s-12 l-4">
                    <%=image_tag 'Production_md.jpg', class: 'img_crew'%>
                    <h4 class="title_production"><%= production.name %></h4>
                    <p class="p_box_a"><%= production.shows.last.date.strftime("%b %-d, %Y") %></p>
                  </div>	
                <% end %>
              <% end %>				
            </center>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
