<!-- Content -->
<div id="content" style="min-height: 873px;">
  <div class="container-fluid m-top-20">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">

                <div class="page-title" style="margin-left: 0px; display: block">
                  <a href="#" id="toggle-menu"><i class="typcn typcn-th-menu"></i></a>
                </div>
                <span class="pull-right m-left-15" style="width: 180px; height: 180px; "><%=image_tag @venue.image.try(:url)%></span>
                <h3><%= @venue.name %></h3>
                <% unless @venue.year_founded.blank? %>
                  <%= "<div>Founded: #{@venue.year_founded}</div>".html_safe %>
                <% end %>
                <p><%= @venue.full_address %></p>
                <p>

                <div class="socialicons">
                  <%= render partial: 'layouts/includes/socialicon', locals: {address: @venue.addr_fb, css_class: "typcn typcn-social-facebook"} %>
                  <%= render partial: 'layouts/includes/socialicon', locals: {address: @venue.addr_tw, css_class: "typcn typcn-social-twitter"} %>
                  <%# render partial: 'layouts/includes/socialicon', locals: {address: @venue.addr_ins, css_class: "typcn typcn-social-instagram"} %>
                  <%# render partial: 'layouts/includes/socialicon', locals: {address: @venue.addr_lin, css_class: "typcn typcn-social-linkedin"} %>
                </div>
                </p>
                <p class="m-top-20">
                  <% unless @venue.primary_contact_name.blank? && @venue.primary_contact_email.blank? && @venue.primary_contact_phone.blank? %>
                    <%= "<div><b>Contact</b></div>".html_safe %>
                    <% unless @venue.primary_contact_name.blank? %>
                      <%= @venue.primary_contact_name %> <br />
                    <% end %>
                    <% unless @venue.primary_contact_phone.blank? %>
                      <%= @venue.primary_contact_phone %> <br />
                    <% end %>
                    <% unless @venue.primary_contact_email.blank? %>
                      <%= mail_to @venue.primary_contact_email %> <br />
                    <% end %>
                  <% end %>
                </p>
                <p>
                  <%= @venue.description unless @venue.description.blank? %>
                </p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row row--productions">
              <% productions = Production.includes(:shows).where(shows: {venue_id: @venue.id}).order('shows.date desc').uniq.to_a %>
              <div class="col-md-12">
                <h4>
                  <span>
                    Productions
                  </span>
                  <%= link_to  venue_artist_invitations_path @venue do %>
                    <button class="btn btn-primary pull-right m-top-m6" type="button">Add Artists</button>
                  <% end %>
                </h4>
                <br />
              </div>

              <%= render partial: 'layouts/includes/production_widgets_row', locals: {productions: productions} %>
            </div>


            <% ((productions.length+2)/3).times do |row| %>
              <div class="row row--productions">
                <%= render partial: 'layouts/includes/production_widgets_row', locals: {productions: productions} %>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<%## link_to 'Edit', edit_venue_path(@venue) %> |
<%## link_to 'Venue list', venues_path %>
