<div class="box">
  <!-- HEADER -->     
  <div class="line">
    <section>
      <div class="line">
        <div class="line">
          <div class="margin">
            <div class="s-12 l-8">
              <div class="box_text_container">
                <h4><%= @company.name %></h4>
                <% unless @company.year_founded.blank? %>
                  <div>
                    Founded: <%= @company.year_founded %>
                  </div>
                <% end %>
                <% unless @company.website.blank? %>
                  <%= link_to @company.website %>
                  <br><br>
                <% end %>
                <% unless @company.primary_contact_phone.blank? %>
                  <%= @company.primary_contact_phone %> <br />
                <% end %>
                <% unless @company.primary_contact_email.blank? %>
                  <a href="mailto:<%= @company.primary_contact_email %>"><%= @company.primary_contact_email %></a>
                  <br><br>
                <% end %>
                
              </div>
										
              <%= link_to  company_artist_invitations_path @company do %>
                <button class="btn_auk" type="button">Add Artists</button>
              <% end %><br>

<%= link_to 'Test', "https://www.facebook.com/dialog/share?app_id=898132730309382&href=#{request.original_url}&redirect_uri=#{request.original_url}" %>
              <a onClick="PopupCenterDual('<%= @company.addr_fb %>','Facebook','750','550'); " href="javascript:void(0);">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
              </a>
              <a onClick="PopupCenterDual('<%= @company.addr_tw %>','Twitter','750','550'); " href="javascript:void(0);">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
              <a onClick="PopupCenterDual('<%= @company.addr_ins %>','Tumblr','750','550'); " href="javascript:void(0);">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-tumblr fa-stack-1x fa-inverse"></i>
                </span>
              </a>
              <a onClick="PopupCenterDual('<%= @company.addr_lin %>','LinkedIn','750','550'); " href="javascript:void(0);">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin-square fa-stack-1x fa-inverse"></i>
                </span>
              </a>

            </div>
            <div class="s-12 l-4 rocket_block_container">
              <%if @company.photo && @company.photo.try(:image).present? %>
                <%=image_tag @company.photo.image(:medium), class: "rocket_bock_a" %>
              <%else%>
                <%=image_tag 'company_md.jpg', class: "rocket_bock_a" %>
              <%end%>
            </div>
            
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
		
			   
<div class="box last_box">
  <!-- HEADER -->     
  <div class="line">
    <section>
      <h3>Productions</h3>
      <div class="line">
        <div class="line">
          <div class="margin">                               
            <center>
              <% productions = @company.productions.select('productions.*, shows.date').joins(:shows).order('shows.date desc').uniq %>
              <% productions.each do |production| %>
                <%= link_to(production) do %>
                  <div class="s-12 l-3">
                    <%=image_tag 'Production_md.jpg', class: 'img_crew'%>
                    <h4 class="title_production"><%= production.name %></h4>
                    <p><%= link_to production.shows.last.venue.name, production.shows.last.venue %></p>
                    <p class="p_box_a"><%= production.shows.last.date.strftime("%b %-d, %Y") %></p>
                  </div>	
                <% end %>
              <% end %>				
            </center>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>