

<div class="panel panel-default" >
  <div class="panel-body">
    <div class="form-group">
      <h3 class="col-md-offset-2 col-md-10 m-bottom-20">
        <span>Invite a Director to Artist Magnet</span>
        <a class="pull-right" href="javascript:void(0)" onclick="$('#error_list li').remove();$('.overlay-2').hide();$('.fade-2').hide();$('#new_director_invitation').trigger('reset');">
          <i class="fa fa-undo"></i>
        </a>
      </h3>
    </div>

    <%= form_for([@production, @invitation],  remote: true, html: {:'data-type' => 'json', class: 'form-horizontal'}) do |f| %>
      <%= render 'layouts/includes/error_explanation', entity: @invitation, offset: 2, span: 10 %>
      <input type=hidden name="resume_id" value="<%= @resume.id %>">

      <div class="form-group">
        <div class="mandatory field">
          <label class="col-sm-2 control-label">Director's First Name</label>
          <div class="col-sm-10" >
            <%= f.text_field :first_name, {id: 'first_name', title: 'You Must Enter a First or Last Name', class: 'form-control', placeholder: 'Director\'s First Name' } %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="mandatory field">
          <label class="col-sm-2 control-label">Director's Last Name</label>
	  <div class="col-sm-10">
            <%= f.text_field :last_name, {id: 'last_name', title: 'You Must Enter a First or Last Name', class: 'form-control', placeholder: 'Director\'s Last Name'} %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="mandatory field">
	  <label class="col-sm-2 control-label">Director's Email</label>
          <div class="col-sm-10">
            <%= f.text_field :email, {class: 'form-control', placeholder: 'Director\'s Email'} %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="field">
          <label class="col-sm-2 control-label">Custom Message to the Director</label>
	  <div class="col-sm-10 m-bottom-5">
            <%= f.text_area :text, {class: 'form-control', placeholder: 'Custom Message to the Director'}  %>
  		<br>    
		<p>
		The following automatic message will be added to your email: 
		  <i>
		    <br><br>
		    Dear [Director's Name]:
                    <br><br>
		    I am building a new hyperlinking Resume on Artist Magnet - a new social network for Theatre people connecting Artists through Shows and Venues everywhere.
		    <br><br>
		    In order to complete my Resume, I would like to add you as my Director and hyperlink my Resume to yours. To help me do this, please build your own Resume and link it to mine. You can do it here: <a href="http://www.ArtistMagnet.com">www.ArtistMagnet.com</a>
		    <br><br>
Thanks for your help, and see you soon on Artist Magnet,
		    <br><br>
- <%= ContactInfo.find_by(:resume_id => @resume.id).nick_name %>	
		  </i>
		</p>
          </div>
        </div>
      </div>
 
      <div class="actions form-group">
        <div class="actions">
          <span class="col-sm-2"></span>
          <span class="col-sm-2">
            <%= f.submit 'Send invitation', {class: "btn btn-primary"} %>
          </span>
        </div>
      </div>
    <% end %>
	
  </div>
</div>
<script>
$(function(){
      $('#first_name, #last_name').tooltip({
        content: function(){
          var element = $( this );
          return element.attr('title')
        }
      });
    });

</script>
