<div id="add-resume">
  <!--< %= form_for(@resume, html: {class: 'form-inline'}) do |f| %>-->

    <div class="container-fluid m-top-20">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12">
                  <h4>
                    <span><%= @production.name %>'s Director</span>
                    <%= link_to @production do %>
                      <button class="btn btn-primary pull-right m-top-m6" type="button">Done</button>
                    <% end %>
                  </h4>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <% if @production.director_name %>
                    <%= @production.director_name %>
                  <% else %>
                    Not selected
                  <% end %>
                </div>
              </div>

              <br />
            <!--</div>-->
          <!--</div>-->
          <!--<div class="panel panel-default">-->
            <!--<div class="panel-body">-->
              <div class="row">
                <div class="col-md-6">
                  <%= form_tag(update_production_director_path, method: :put) do %>
                    <h5>
                      <span>Search an Artist Magnet member</span>
                    </h5>
                    <div class="form-group">
                      <div>
                        <%= collection_select :production, :director_id, Resume.directors.sort_by{ |resume| resume.name }, :id, :name, {prompt: 'Select director'}, {class: "form-control chosen-select"} %>
                      </div>
                    </div>
                    <%= button_tag 'Update', {class: "btn btn-primary"} %>
                  <% end %>
                </div>
                <div class="col-md-6">
                  <%= form_for [@production, @invitation] do |f| %>
                    <h5>
                      <span>or invite a Director to Artist Magnet</span>
                    </h5>
                    <div class="col-sm-12">
                      <div class="row">
                        <div class="form-group">
                          <div class="field">
                            <div class="row">
                              <div class="col-sm-4">
                                <%= f.text_field :first_name, {placeholder: "First name", class: "form-control"} %>
                              </div>
                              <div class="col-sm-4">
                                <%= f.text_field :last_name, {placeholder: "Last name", class: "form-control"} %>
                              </div>
                              <div class="col-sm-4">
                                <%= f.text_field :email, {placeholder: "Email", class: "form-control"} %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <%= button_tag 'Send invitation', {class: "btn btn-primary"} %>
                  <% end %>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  <!--< % end %>-->
</div>
