Dear <%= @invitation.first_name %>:
<p>
  I am in the process of completing my professional hyperlinking Resume on <%= link_to "Artist Magnet", root_url %>, the theatre revolution, and I just added a <%= @related_entity.class.name %> page for <%= @related_entity.name %>, and remembered that you were involved in <%= @related_entity.class.name == 'Production' ? 'that production as well' : 'a production there' %>.
</p>
<p>
  Will you consider joining <%= link_to "Artist Magnet", root_url %> and building your own professional hyperlinking Resume, then <%= @related_entity.class.name == 'Production' ? 'linking our Production Page so we can be linked together?' : 'adding that Production?' %> It's very easy, fun and there’s no cost to you.
</p>
<p>
  Thanks for your help, and see you soon on <%= link_to "Artist Magnet", root_url %>,
</p>
<p>
  <%= @referrer_name %><br />
  http://www.artistmagnet.com   <br />
</p>
<br />
<p>
  <%= @invitation.text %>
</p>
---
<br/>
<p>
<i> I
am building a new Resume on Artist Magnet - a new social network for
Theatre people connecting Artists through Shows and Venues everywhere
- to help me complete my Resume, please build your own Resume and link
to mine.  You can do it here: <a href="http://www.ArtistMagnet.com">http://www.ArtistMagnet.com</a></i>	
	</p>
