Dear <%= @invitation.first_name %>:
<p>
  I am in the process of completing my professional hyperlinking Resume on <%= link_to "Artist Magnet", root_url %>, and I just added a page for <%= @production.name %>, and remembered that you were involved in that production as well.
</p>
<p>
  Will you consider joining <%= link_to "Artist Magnet", root_url %> and building your own professional hyperlinking Resume, then linking our Production Page so we can be linked together?  It's very easy, fun and there’s no cost to you.
</p>
<p>
  Thanks for your help, and see you soon on <%= link_to "Artist Magnet", root_url %>,
</p>
<br />
<%= @referrer_name %><br />
http://www.artistmagnet.com