Dear <%= @invitation.first_name %>:
<p>
  I am in the process of completing my professional hyperlinking Resume on <%= link_to "Artist Magnet", root_url %>, the theatre revolution, and I would like to add you as my Director for <%= @production.name %>, and hyperlink my Resume to yours.
</p>
<p>
  Will you consider joining <%= link_to "Artist Magnet", root_url %> and building your own professional hyperlinking Resume to help me complete this process?  It's very easy, fun and there's no cost to you.
</p>
<p>
  Thanks for your help, and see you soon on <%= link_to "Artist Magnet", root_url %>,
</p>
<p>
<%= @referrer_name %><br />
http://www.artistmagnet.com   <br />
</p>
<br />
<p>
  <%= @invitation.text %>
</p>
