<div id="add-role">
  <div class="panel panel-default" >

    <div class="panel-body">

      <div class="form-group">
        <h3 class="col-md-offset-2 col-md-10 m-bottom-20">
          <span>Credit</span>
          <!-- <a class="pull-right" href="<%#= edit_resume_path(@resume) %>" > -->
          <% if params[:action].eql?("new") %>
          <a class="pull-right back-link" href="javascript:void(0)" >
            <i class="fa fa-undo"></i>
          </a>
          <%else%>
           <%= link_to edit_resume_path(@resume),:class=>"pull-right" do%>
              <i class="fa fa-undo"></i>
           <%end%>
          <%end%>
        </h3>
      </div>
      <%# path,format,url_method,url_type = get_values(params[:action],@role)%>
      <%= form_for(@role, :remote=>true,:format=>'js',html: {class: 'role-form form-horizontal'}) do |f| %>
    
      <%= render 'layouts/includes/error_explanation', entity: @role, offset: 2, span: 10 %>

      <div class="form-group">
        <div class="field">
          <%= f.label :name, {class: "col-sm-2 control-label"} %>
          <div class="col-sm-10">
            <%= f.text_field :name, {class: 'form-control', placeholder: 'Enter Role'} %>
          </div>
        </div>
      </div>

        <%#= f.hidden_field :resume_id %>
        <%= f.hidden_field :dirname %>

        <div class="form-group">
          <div class="field">
            <%= f.label :production_id, {class: "col-sm-2 control-label"} %>
            <div class="col-sm-10">
              <%= f.collection_select :production_id, Production.all.order(:name), :id, :key_info, {prompt: 'Select production'},
                                      {class: "form-control chosen-select m-left-m8",
                                       data: {
                                           add_as_new_label:  'To add it as a new Production, click here' #,
                                           # add_as_text_label: 'To leave as text only, click here.'
                                       }
                                      }  %>
            </div>
          </div>
        </div>

        <div class="form-group director_col">
          <div class="field">
            <%= f.label :director_id, {class: "col-sm-2 control-label"} %>
            <div class="col-sm-10">
              <%#= f.collection_select :director_id, Resume.directors.order(:user_id), :id, :name, {prompt: 'Select director'},
                                      {class: "form-control chosen-select m-left-m8",
                                       disabled: f.object.production.nil?,
                                       data: {
                                           add_as_new_label:  'To invite a new Director to Artist Magnet, click here',
                                           add_as_text_label: 'To leave as text only, click here.'
                                       }
                                      }  %>
              <%= f.collection_select :director_id, [], :id,:name,{prompt: 'Select director'},
                                      {class: "form-control chosen-select m-left-m8",
                                       disabled: f.object.production.nil?,
                                       data: {
                                           add_as_text_label: 'To leave as text only, click here.'
                                       }
                                      }  %>                        
            </div>
          </div>
        </div>


      <div class="actions form-group">
        <span class="col-sm-2"></span>
        <span class="col-sm-2">
          <%= f.submit 'Done', {class: "role-btn btn btn-primary"} %>
        </span>
      </div>
    <% end %>
    </div>

  </div>
</div>


<script type="text/javascript">
  $('.role-btn').click(function(e) {
    e.preventDefault();

    $('.role-form').submit();
    
    return false;
  });
</script>