<p>
  <strong>Name:</strong>
  <%= @role.name %>
</p>

<p>
  <strong>Resume:</strong>
  <%= @role.resume_id %>
</p>

<p>
  <strong>Production:</strong>
  <%= @role.production_id %>
</p>

<%= link_to 'Edit', edit_resume_role_path(@role.resume, @role) %> |
<%= link_to 'Role list', resume_roles_path(@role.resume) %>
