<p>
  <strong>Production:</strong>
  <%= @show.production.name %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @show.venue.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @show.date %>
</p>

<%= link_to 'Edit', edit_show_path(@show) %> |
<%= link_to 'Back', shows_path %>
