<%= form_for(@rtable) do |f| %>
  <% if @rtable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rtable.errors.count, "error") %> prohibited this rtable from being saved:</h2>

      <ul>
      <% @rtable.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :columns %><br>
    <%= f.text_field :columns %>
  </div>
  <div class="field">
    <%= f.label :positions %><br>
    <%= f.text_field :positions %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= form_for [@rtable, @rtable_item] do |f| %>
  <div class="row">
    <%= hidden_field_tag 'rtable_item[rtable_id]', @rtable.id %>
    <div class="col-md-2">
      <%= f.text_field :position %>
    </div>
    <div class="col-md-2">
      <%= text_field_tag "rtable_item[values][]" %>
    </div>
    <div class="col-md-2">
      <%= text_field_tag "rtable_item[values][]" %>
    </div>
    <div class="col-md-2">
      <%= text_field_tag "rtable_item[values][]" %>
    </div>
    <div class="col-md-2">
      <%= text_field_tag "rtable_item[values][]" %>
    </div>
    <div class="col-md-2">
      <%= text_field_tag "rtable_item[values][]" %>
    </div>
    <div class="col-md-2">
      <%= text_field_tag "rtable_item[values][]" %>
    </div>
  </div>
  <%= f.submit %>
<% end %>
