<%= form_for(@rtable) do |f| %>
  <% if @rtable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rtable.errors.count, "error") %> prohibited this rtable from being saved:</h2>

      <ul>
      <% @rtable.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :columns %><br>
    <%= f.text_field :columns %>
  </div>
  <div class="field">
    <%= f.label :positions %><br>
    <%= f.number_field :positions %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
