<div class="container-fluid m-top-20">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">

          <%= render partial: 'layouts/includes/notice' %>

          <div class="row">
            <div class="col-md-12">
              <h4>
                <span><%= @rtable.title %> table</span>
                <%= link_to @rtable do %>
                  <button class="btn btn-primary pull-right m-top-m6" type="button">Done</button>
                <% end %>
              </h4>
              <br />
            </div>
          </div>


          <%= form_for [@rtable, @rtable_item], html: {class: 'form-inline'} do |f| %>

            <%= hidden_field_tag 'rtable_item[rtable_id]', @rtable.id %>
            <!--<div class="col-md-2">-->
            <!--< %= f.text_field :position %>-->
            <!--</div>-->

            <%= render partial: 'rtables/columns', locals: {table: @rtable} %>

            <% @rtable.rtable_items.each do |line| %>
              <div class="h-movable row">
                <% line.values.each_with_index do |cell, index| %>
                  <div class="col-md-2">
                    <%= cell %>

                    <% if index == line.values.length-1 %>
                      <!--<div class="actions">-->

                      <%= link_to [@rtable, line], method: :delete, data: { confirm: "Really delete?" } do %>
                        <i class="fa fa-trash-o text-pale pull-right"></i>
                      <% end %>

                      <!--<i class="fa fa-edit text-pale pull-right"></i>-->
                      <!--<i class="fa fa-arrows-v text-pale pull-right"></i>-->
                      <!--</div>-->
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% end %>



            <div class="row">
              <!--<div class="form-group">-->
              <div class="col-md-2 form-control" style="width: 16.667%">
                <%= text_field_tag "rtable_item[values][]", nil, class: "inline-table-input", placeholder: "Enter credit" %>
              </div>
              <div class="col-md-2 form-control" style="width: 16.667%">
                <%= text_field_tag "rtable_item[values][]", nil, class: "inline-table-input", placeholder: "..." %>
              </div>
              <div class="col-md-2 form-control" style="width: 16.667%">
                <%= text_field_tag "rtable_item[values][]", nil, class: "inline-table-input", placeholder: "..." %>
              </div>
              <div class="col-md-2 form-control" style="width: 16.667%">
                <%= text_field_tag "rtable_item[values][]", nil, class: "inline-table-input", placeholder: "..." %>
              </div>
              <div class="col-md-2 form-control" style="width: 16.667%">
                <%= text_field_tag "rtable_item[values][]", nil, class: "inline-table-input", placeholder: "..." %>
              </div>
              <div class="col-md-2 form-control" style="width: 16.667%">
                <%= text_field_tag "rtable_item[values][]", nil, class: "inline-table-input", placeholder: "..." %>
              </div>
              <!--</div>-->
            </div>
            <%= f.submit 'Add credit', class: "btn btn-primary m-top-10" %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>



<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">

          <%= render partial: 'layouts/includes/notice' %>

          <div class="row">
            <div class="col-md-12">
              <h4>
                <span>Configuration</span>
              </h4>
              <br />
            </div>
          </div>

          <%= form_for @rtable, html: {class: 'form-inline'} do |f| %>
            <%= render 'layouts/includes/error_explanation', entity: @rtable, offset: 2, span: 10, display: (@rtable.errors.empty? ? 'none' : 'block')  %>

            <div class="form-group">
              <div class="mandatory field">
                <%= f.label :title, {class: "col-sm-2 control-label"} %>
                <div class="col-sm-10">
                  <%= f.text_field :title, {class: 'form-control', placeholder: 'Enter Title'} %>
                </div>
              </div>
            </div>
            <!--<div class="field">-->
            <!--< %= f.label :columns %><br>-->
            <!--< %= f.text_field :columns %>-->
            <!--</div>-->
            <%= f.hidden_field :columns, class: 'column-input' %>

            <div class="row">
              <!--<div class="form-group">-->
              <div class="col-md-2 form-control" style="width: 16.667%">
                <%= text_field_tag "columns[]", @rtable.columns[0], class: "inline-table-input column-partial-input", placeholder: "Enter columns" %>
              </div>
              <div class="col-md-2 form-control" style="width: 16.667%">
                <%= text_field_tag "columns[]", @rtable.columns[1], class: "inline-table-input column-partial-input", placeholder: "..." %>
              </div>
              <div class="col-md-2 form-control" style="width: 16.667%">
                <%= text_field_tag "columns[]", @rtable.columns[2], class: "inline-table-input column-partial-input", placeholder: "..." %>
              </div>
              <div class="col-md-2 form-control" style="width: 16.667%">
                <%= text_field_tag "columns[]", @rtable.columns[3], class: "inline-table-input column-partial-input", placeholder: "..." %>
              </div>
              <div class="col-md-2 form-control" style="width: 16.667%">
                <%= text_field_tag "columns[]", @rtable.columns[4], class: "inline-table-input column-partial-input", placeholder: "..." %>
              </div>
              <div class="col-md-2 form-control" style="width: 16.667%">
                <%= text_field_tag "columns[]", @rtable.columns[5], class: "inline-table-input column-partial-input", placeholder: "..." %>
              </div>
              <!--</div>-->
            </div>


            <div class="field">
              <%= f.label :positions %><br>
              <%= f.text_field :positions %>
            </div>
            <div class="actions">
              <%= f.submit %>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>



