<div id="add-resume">
  <%= form_for(@resume) do |f| %>

  <div class="container-fluid m-top-20">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <h4>
                  <span>Theater</span>
                  <!--<button class="btn btn-primary pull-right m-top-m6" type="button">Add a production</button>-->
                </h4>
                <br />
              </div>
            </div>



            <div class="row">
              <div class="col-md-2">
                <strong>Production</strong> <i class="fa fa-arrows-h text-pale"></i>
              </div>
              <div class="col-md-2">
                <strong>Role</strong> <i class="fa fa-arrows-h text-pale"></i>
              </div>
              <div class="col-md-2">
                <strong>Director</strong> <i class="fa fa-arrows-h text-pale"></i>
              </div>
              <div class="col-md-2">
                <strong>Venue</strong> <i class="fa fa-arrows-h text-pale"></i>
              </div>
              <div class="col-md-2">
                <strong>Company</strong>
                <i class="fa fa-arrows-h text-pale"></i>
                <a href="#"><i class="fa fa-trash-o text-pale"></i></a>
              </div>
              <div class="col-md-2">
                <strong>Custom</strong>
                <i class="fa fa-arrows-h text-pale"></i>
                <a href="#"><i class="fa fa-trash-o text-pale"></i></a>
              </div>
            </div>

            <% @resume.roles.select{|r| !r.new_record?}.each do |role| %>
            <div class="h-movable row">
              <div class="col-md-2">
                FILTHY TALK FOR TROUBLED TIMES
              </div>
              <div class="col-md-2">
                Neil LaBute
              </div>
              <div class="col-md-2">
                Frederique Michel
              </div>
              <div class="col-md-2">
                City Garage Theatre
              </div>
              <div class="col-md-2">
                <a href="#"></a>
              </div>
              <div class="col-md-1">
                <a href="#"></a>
              </div>
              <div class="col-md-1 actions">
                <a href="#"><i class="fa fa-trash-o text-pale pull-right"></i></a>
                <i class="fa fa-arrows-v text-pale pull-right"></i>
              </div>
            </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>

    <% if @resume.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@resume.errors.count, "error") %> prohibited this resume from being saved:</h2>

        <ul>
        <% @resume.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


    <%= f.fields_for :roles do |fs| %>
      <% if fs.object.new_record? %>
      <div class="field">
        <%= fs.label :production %><br>
        <%= fs.collection_select :production_id, Production.all.order(:name), :id, :key_info, {}, {id: 'resume_role_production_id', class: "chosen-select"} %>
        <%= link_to "Add one", 'javascript:void(0)', {:class => 'extend-list'} %>
      </div>
      <div class="field">
        <%= fs.label :name, "Role" %><br>
        <%= fs.text_field :name %>
      </div>
      <% end %>
    <% end %>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>

<div id="add-resume-production">
  <%= render 'productions/form', :remoteForm => true, :queryFormat => 'json', :html_class => 'production_form' %>
</div>

<!--<div class="overlay-1">-->
  <!--Overlay text-->
  <!--<a-->
  <!--onclick="$('.overlay-1').hide();$('.fade-1').hide()"-->
  <!--href="javascript:void(0)">Click here to close the overlay-->
  <!--</a>-->
<!--</div>-->
<!--<div class="fade-1"></div>-->

<a
onclick="$('.overlay-1').show();$('.fade-1').show()"
href="javascript:void(0)">Click here to open the overlay
</a>