<div id="add-resume">
  <%= form_for(@resume) do |f| %>
    <% if @resume.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@resume.errors.count, "error") %> prohibited this resume from being saved:</h2>

        <ul>
        <% @resume.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


    <%= f.fields_for :roles do |fs| %>
      <div class="field">
        <%= fs.label :production %><br>
        <%= fs.collection_select :production_id, Production.all, :id, :name %>
        <%= link_to "Add one", '#', {:class => 'extend-list'} %>
      </div>
      <div class="field">
        <%= fs.label :name, "Role" %><br>
        <%= fs.text_field :name %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>

<div id="add-production" style="display: none">
  Create a production
  <%= render 'productions/form', :remoteForm => true, :queryFormat => 'json', :html_class => 'production_form' %>
</div>