<%#if (((current_user.role!="premium")) &&  (!current_user.resumes.blank?)) && params[:action]!="edit" %>
  <!-- <div class='photo-popover'><%#= render('/resumes/nested/payment_form') %></div> -->
<%#else%>

  <div id="add-resume">
    <%= nested_form_for(@resume, html: {class: 'form-horizontal'}) do |f| %>
    <div class="container-fluid m-top-20">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
               <div class="form-group">
                <div class="col-sm-2">
                  <label for="inputEmail3" class="" title="Selecting 'Performing Artist' reveals the Demographics and Skills Sections and selecting 'Production Member' removes those Sections">Resume Type</label>
                  <span class='astrick' style="top:-5px;">*</span>
                  </div>

                  <%#= f.select(:resume_type,options_for_select([['Performing Artist', 'Performing Artist'], ['Production Member', 'Production Member']],:selected=>@resume.resume_type ),{},:class=>"form-control",:id=>"select_resume_type") %>
                  <div class="col-sm-3">
                  <%= f.radio_button :resume_type,'Performing Artist',:class=>"",:id=>"select_resume_type",:required => true%> 
                  <%= f.label :resume_type,'Performing Artist',class: '',:title=>"Actor, Dancer, Musician, Singer, etc." %>
                  </div>
                  <div class="col-sm-3">
                  <%= f.radio_button :resume_type,'Production Member',:class=>"",:id=>"select_resume_type",:required => true%> 
                  <%= f.label :resume_type,'Production Member',class: '',:title=>"Choreographer, Designer, Dramaturg, Playwright, Stage Manager, etc." %>
                  </div>
                  <div class="col-sm-3">
                  <%= f.radio_button :resume_type,'Director',:class=>"",:id=>"select_resume_type",:required => true%> 
                  <%= f.label :resume_type,'Director',class: '',:title=>"" %>
                  </div>
                </div>
                <hr/>

                <div class="form-group">
                  <div class="col-sm-2"><label for="inputEmail3" class="control-label" title="This name will appear on your Resume below your Stage Name and Union/Guild Affiliation.  Examples of common Resume Titles include: Actor, Music Director, Production Stage Manager, Sound Designer, etc.">Resume Title</label></div>
                  <div class="col-sm-5">

                  <%= f.text_field :performer_type,:class=>"form-control"%>
                  </div>
                  <div class="col-sm-5">
                  <%= f.text_field :union_guild,:class=>"form-control", :placeholder =>"Union/Guild Affiliations" %>
                  </div>
                </div>
                <div class="attributes-info">
                  <%= f.fields_for :resume_attribute do |a|%>                 
                      <%= render "resumes/nested/attributes_info" ,:a=>a%>
                  <%end%>
                  <%if @resume.resume_attribute.blank?%>
                  <%= f.link_to_add "Add attributes Section", :resume_attribute ,:class=>"btn btn-default" ,:class=>"attributes-info-add"%>
                  <%end%>
                </div>
                <%= f.fields_for :contact_info do |c|%>
                <h3>Contact Info</h3>
                  <%= render "resumes/nested/contact_info" ,:c=>c%>
                <%end%>
                <div class='photo-popover' style="display:none;"></div>
                <%= hidden_field_tag "removed_images" %>
                <%= hidden_field_tag "removed_drag_images" %>
                <!-- Media Section --> 
                <section class="sections">              
                  <h3 class="photo-section" data-toggle="tooltip" data-placement="top" title="Your image must be less than 250kb"> Media</h3>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <div class="col-sm-4">
                          <label for="file-input">
                           
                            <%= image_tag "blankUser.png",:width=>"128",:class=>"main-image",:height=>"128"%>
                            </label>
                          <input type="file" style="display: none" onchange="Test.UpdatePreviewMain(this,'media_image')" name="resume[image]" id="file-input" class="form-control" accept="image/*">
                        </div>
                        <div style="margin-top: -45px;" class="col-sm-8">
                          <section id="wrapper">
                              <article>
                                <div id="holder">
                                    <ul class="preview-area">
                                    <li>
                                    <%= image_tag "blankUser.png",:width=>"80",:class=>"additional_media_1 additional"%>
                                    <input type="file" style="display: none" onchange="Test.UpdatePreviewMain(this,'1')" name="resume[image]" id="file-input-1" data=1 class="form-control" accept="image/*">
                                    </li>
                                     <li>
                                    <%= image_tag "blankUser.png",:width=>"80",:class=>"additional_media_2 additional"%>
                                    <input type="file" style="display: none" onchange="Test.UpdatePreviewMain(this,'2')" name="resume[image]" id="file-input-2" data=2 class="form-control" accept="image/*">
                                    </li>
                                    </ul> 
                                    <%= link_to "Add More Images","javascript:void(0)",:id=>"add_more_images"%>
                                 
                                   <div style="clear:both"></div>
                                   <ul class="preview-video">
                                   <li>
                                   <%= link_to image_tag("video.jpeg",:width=>"60"),"javascript:void(0)",:class=>"additional_video_url",:title=>"for YouTube and Vimeo videos only"%>
                                   </li>
                                   </ul>
                                  <%= link_to "Add more videos","javascript:void(0)",:class=>"add_video"%>
                                </div>                    
                              </article>
                         </section>
                        </div>
                      </div>
                    </div>
                  </div>  
                  </section>
                <!-- Media Section -->    
                 <div class="clearfix"></div>
                <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myVideoModal" class="modal ">
                 <div class="modal-dialog">
                    <div class="modal-content">
                       <div class="modal-header">
                          <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
                                ×
                          </button>
                          <h4 id="myModalLabel" class="modal-title">
                             
                          </h4>
                       </div>
                       <div class="modal-body">
                        
                       Video URL: <input type="text" name="resume[video_url]" id="resume_video" style="width:80%"/>

                       </div>
                       <div class="modal-footer">
                          <button data-dismiss="modal" class="btn btn-default submit_button" type="button">Submit</button>
                       </div>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal -->
                </div>
               
                <div class="more-video">
                  <%= render 'resumes/more_videos',:@videos => @videos %>
                </div>
                <br/>
                <ul>
                  <div class="ui-state-default sections threatr-section ">                      
                    <h3> Theatre</h3>
                    <li >
                      <%=render 'resumes/nested/theatre_fields'%>
                      <!-- <div class="add_new_theatre"></div> -->
                      <!-- <div class='photo-popover1' style="display:none"></div> -->
                      <%#= f.fields_for :theatres do |t|%>
                        <%#= render "resumes/nested/theatre"%>
                      <%#end%>
                      <%#= link_to "Add Credit","#-",:class=>"btn btn-default btn btn-primary add-threatre-section"%>
                       <div class="row">
                        <div class="col-md-12">
                          <%= link_to 'Add Credit', 'javascript:void(0)', {id: "add-resume-role-link", class: "btn btn-primary m-top-10"} %>
                        </div>
                      </div>
                      <%#= f.link_to_add "Add More", :theatres ,:class=>"btn btn-default add-threatre-section"%>
                    </li><br/>
                  </div>

                  <br/>

                <!-- <div id="sort-section" class="sortable12"> -->
                <div id="sort-section" class="">
                  <div class="ui-state-default sections education" id="resume_section_1">
                    <!-- <img alt="Icon" src="/assets/drag.jpg" width="30px;"> -->
                   
                    <%=render 'resumes/nested/education_part',:f=>f%>

                  </div>
                  <script type="text/javascript">
                    $(document).on("click",'.add_section',function(){
                       
                        $(this).parent().hide();
                        if (this.text=="Undo others"){       
                          $(this).parent().prev().css("display","block").find('.fields').slice(1,100).css("display","none").slice(0,1).css("display","block").find('.bootstrap-tagsinput').css("display","block")
                        }
                        $(this).parent().prev().find('.remove_cols').map(function(){return $(this).text("-")})
                        if (this.text=="Undo skills") {
                          $(this).parent().prev().css("display","block").find('.fields').slice(1,100).css("display","none").slice(0,1).css("display","block").find('.form-control').css("display","block")
                        }else{ 
                          // $(this).parent().prev().show();
                          // $('tbody.render_table tr.fields:not(:first)').remove();
                          // $('tbody.render_table tr.fields input').val('');
                          $(this).parent().prev().show();
                          var section = $(this).parent().attr('section');
                          if(section=='Representation'){
                            $(this).parent().prev().html("<%=escape_javascript(render 'resumes/nested/representation_part',:f=>f)%>");
                          }
                          else{
                          $(this).parent().prev().html("<%=escape_javascript(render 'resumes/nested/education_part',:f=>f)%>");
                        }
                          $( ".sortable" ).sortable({revert: true});
                        }
                        $(this).parents().eq(1).find('.custom').hide();
                        $('.section-customs').map(function(){return $(this).text("Undo")});
                      });
                  </script>
                  <br/>
                  <div class="ui-state-default sections representation" id="resume_section_2">
                    <!-- <img alt="Icon" src="/assets/drag.jpg" width="30px;"> -->
                     <%=render 'resumes/nested/representation_part',:f=>f%>
                  </div>
                  <br/>
                  <div class="ui-state-default sections" id="resume_section_3">
                    <!-- <img alt="Icon" src="/assets/drag.jpg" width="30px;"> -->
                    <a class="btn btn-default remove_nested_field remove_education pull-right" data-association="skills" data-success="true" href="javascript:void(0)" title="Remove Section">X</a>
                    <h3>Skills</h3>
                    <input class="resume_section" id="resume_resume_sections_attributes_2_position" name="resume[resume_sections_attributes][2][position]" type="hidden">
                    <input id="resume_resume_sections_attributes_2_section_id" name="resume[resume_sections_attributes][2][section_id]" value="3" type="hidden">

                    <li class="sortable">                    
                      <%=f.fields_for :skills do |s|%>                 
                         <%= render "resumes/nested/skill" ,:s=>s%>
                      <%end%>                
                      <%#= f.link_to_add "+", :skills ,:class=>"btn btn-default add_edu_row",:title=>"Add Row"%> 
                    </li><br/>
                  </div>
                   <br/>            
                  <div class="ui-state-default sections customs" id="resume_section_4">
                    <!-- <img alt="Icon" src="/assets/drag.jpg" width="30px;"> -->
                   <a class="btn btn-default remove_nested_field remove_education pull-right" data-association="custom" data-success="true" href="javascript:void(0)" title="Remove Section">X</a>
                    
                    <h3>Custom</h3>
                    <input class="resume_section" id="resume_resume_sections_attributes_3_position" name="resume[resume_sections_attributes][3][position]" type="hidden">
                    <input id="resume_resume_sections_attributes_3_section_id" name="resume[resume_sections_attributes][3][section_id]" value="4" type="hidden">
                    <%=render 'resumes/nested/education_remove_cols',:section=>"customs"%>
                    <li class="sortable">
                      <div class="rtable_cols"></div>
                      <%=render 'resumes/nested/custom_fields',:cust=>f%>
                      <%=f.fields_for :customs do |cust|%>
                        <%= render "resumes/nested/custom",:cust=>cust%>
                      <%end%>                
                      <%= f.link_to_add "+", :customs ,:class=>"btn btn-default add_edu_row",:title=>"Add Row"%> 
                    </li><br/>
                  </div>
                  <br/>
                  <div class="ui-state-default sections others" id="resume_section_5">
                    <!-- <img alt="Icon" src="/assets/drag.jpg" width="30px;"> -->
                      <h3>Other</h3>
                      <input class="resume_section" id="resume_resume_sections_attributes_4_position" name="resume[resume_sections_attributes][4][position]" type="hidden">
                      <input id="resume_resume_sections_attributes_4_section_id" name="resume[resume_sections_attributes][4][section_id]" value="5" type="hidden">

                      <li class="sortable">
                        <%=f.fields_for :others do |o|%>
                          <%= render "resumes/nested/other" ,:o=>o%>
                        <%end%>
                        <%= f.link_to_add "Add More", :others ,:class=>"btn btn-default"%> 
                      </li>
                    </div><br/>
                  </div>
                </ul>
                <div class="form-group">
                  <div class="col-sm-3">
                    <%= f.submit @resume.id.blank? ? 'Save & Finish!' : 'Save',:class=>"form-control btn btn-primary get_columns" %>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% end %>
  </div>
   
  <!-- Modal -->
  <div class="modal " id="myModal" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog">
        <div class="modal-content">
           <div class="modal-header">
              <button type="button" class="close" 
                 data-dismiss="modal" aria-hidden="true">
                    &times;
              </button>
              <h4 class="modal-title" id="myModalLabel">
                 This Modal title
              </h4>
           </div>
           <div class="modal-body">
             <%#= render 'productions/form', :remoteForm => true, :queryFormat => 'json', :html_class => 'production_form' %>
           </div>
           <div class="modal-footer">
              <button type="button" class="btn btn-default" 
                 data-dismiss="modal">Close
              </button>
           </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>
  <div class="form-javascipt">
    <%#= render "load_form_json"%>
  </div>
  
  <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myStageModal" class="modal ">
                 <div class="modal-dialog">
                    <div class="modal-content">
                       <div class="modal-header">
                          <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
                                ×
                          </button>
                          <h4 id="myModalLabel" class="modal-title">
                             
                          </h4>
                       </div>
                       <div class="modal-body">
                        <h5>Please enter a Stage Name before adding Credits</h5>
                       </div>
                       <div class="modal-footer">
                          <button data-dismiss="modal" class="btn btn-default continue_button" type="button">Continue</button>
                       </div>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal -->
                </div>

  <div id="add-resume-role" class="overlay overlay-1" data-reload-url="<%#= edit_resume_url(@resume) %>" style="display: <%= role_visibility ||= 'none' %>">
  <%= render 'roles/form' %>
</div>
 <div class="fade fade-1" style="display: <%= role_visibility ||= 'none' %>"></div>

<div id="add-resume-production" class="overlay overlay-2">
  <%= render 'productions/form', :remoteForm => true, :queryFormat => 'json', :html_class => 'production_form' %>
</div>
<div class="fade fade-2"></div>

<div id="add-role-director" class="overlay overlay-2">
  <%= render 'director_invitations/form' %>
</div>
<div class="fade fade-2"></div>

<div id="add-company" class="overlay overlay-3">
  <%= render 'companies/form' %>
</div>
<div class="fade fade-3"></div>

<div id="add-venue" class="overlay overlay-3">
  <%= render 'venues/form' %>
</div>
<div class="fade fade-3"></div> 
  
  <style type="text/css">
    .theatre-fields{
      background-color: #DDD !important;
      border: none;
    }
    .sections{
      border: 2px dashed #a1a1a1;
      padding: 10px; 
      /*background: #dddddd;*/
      border-radius: 5px;
      clear: both;
    }
    .main-image{
      cursor: pointer;
    }

    ul { list-style-type: none; margin: 0; padding: 0; margin-bottom: 10px; }
    ul.preview-area li {
      width: 60px;
      float: left;
      margin-right: 10px;
    }

    .remove.cross_icon{
      width: 15px;
      position: absolute;
    }
    .remove.cross_icon1{
      width: 15px;
      margin-left: -65px !important;
      position: relative;
    }
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
      background: none;
    }
    .btn-primary {
      color: #fff !important;
    }
    table {
      border-collapse: separate;
      border-spacing: 0 1em;
    }

    .table-handle, .table-handle-disabled {
    
    cursor: move;
    height: 13px;
    margin: 0 10px;
    }
    .section_heading{
      font-size :24px;
      font-weight :500;
      font-family :"Montserrat",sans-serif;
    }

  </style>
  
  <script>
  $(function() {
    $( ".sortable" ).sortable({
      revert: true
    });

    $( ".sortable12" ).sortable({
      revert: true
    });
  
  });

  </script>

  <script>
  //File upload
  function getSize(obj,reader){
    var file = obj.files[0];
    if(file.size/1024 > 250){
      alert("The image you are attempting to upload is over 250kb. Please select an image less than 250kb.");
    }
    else{
      reader.readAsDataURL(file);
    }
  }
//File upload
$(function(){
  Test = {
  UpdatePreviewMain: function(obj,data){
  // if IE < 10 doesn't support FileReader
  if(!window.FileReader){
  // don't know how to proceed to assign src to image tag
    } else {
    var reader = new FileReader();
    var target = null;
    reader.onload = function(e) {
      target = e.target || e.srcElement;
      if(data == 'media_image')
        $(".main-image").prop("src", target.result);
      else
        $(".additional_media_"+data).prop("src", target.result);
        $(".additional_media_"+data).parent().prepend("<a href='javascript:void(0)' class='close_button'>X</a>");
    };
    getSize(obj,reader);
    }

  }
  };
});
$(document).on('click','#holder > ul.preview-area > li a.close_button',function(){
   $(this).closest('li').remove();

});
$(document).on('click','li a.additional_headshot',function(){
  $(".headshot").show();
  $(".video").hide();
  $("#myModal").modal('show');  
});
$(document).on('click','a.additional_video',function(){
  $(".video").show();
  $(".headshot").hide();
  $("#myModal").modal('show');  
});
$('.photo-section').tooltip();
$(document).on('click','#holder > ul.preview-area > li > img',function(){
  var data_val = $(this).closest('li').find('input[type="file"]').attr('data');
  $("#file-input-"+data_val).trigger('click');
});
// $(document).on('click','.additional_media_2',function(){
//   $("#file-input-2").trigger('click');
// });
$(document).on('click','a.additional_video_url,a.add_video',function(){
  $("#myVideoModal").modal('show');  
});

$(document).on('click','.continue_button',function(){
  $('.stage_name').focus();  
});
$(document).on('click','button.submit_button',function(){
  var url = $("#resume_video").val();
  $.ajax({
    type: "POST",
    url: "<%= add_videos_url %>",
    dataType: "script",
    data: {"video":{"video_url" : url}}
  });
});

$(document).on('click','#add_more_images',function(){
  
  var img1 = $(".additional_media_1").attr('src') || undefined;
  var img2 = $(".additional_media_2").attr('src') || undefined;
  var img3 = $(".main-image").attr('src');

  if((img1 == undefined || img2 == undefined || (img1 == undefined && img2 == undefined)) || img1.search("data:image") != -1 && img2.search("data:image") != -1 && img3.search("data:image") != -1){
    
    if(img3.search("blankUser")==-1){
    
      var li_data = parseInt($("#holder > ul.preview-area > li:last-child > input").attr('data'));
      
      if (isNaN(li_data)) 
        li_data = 1;
      else
        li_data++; 
      $("#holder > ul.preview-area").append('<li><img src="<%= asset_path('blankUser.png')%>" width="60" class="additional additional_media_'+li_data+'"/><input type="file" style="display: none" onchange="Test.UpdatePreviewMain(this,'+li_data+')" name="resume[image]" id="file-input-'+li_data+'" class="form-control" data="'+li_data+'" accept="image/*"></li>');
   }
    else{
      alert("Please use the available media first");
    }
  }
  else{
    alert("Please use the available media first");
  } 
  
});

    $(document).on('click',"#select_resume_type",function(){
      if($("#select_resume_type:checked").val()=="Production Member")  
        {          
          $(".attributes-info,#resume_section_3").hide();
          $("div.roles-table > div.col-md-2.director_col,.role-form >.form-group.director_col").show();
          // $('.sections >.photo-section').text("Photos");
        }
        else{
          if($("#select_resume_type:checked").val()=='Director'){
            $(".attributes-info,#resume_section_3").hide();
            $("div.roles-table > div.col-md-2.director_col,.role-form >.form-group.director_col").hide();
          }
          else{
           $(".attributes-info,#resume_section_3").show();
           $("div.roles-table > div.col-md-2.director_col,.role-form >.form-group.director_col").show();
          }
        }
        
    
    });
    
  $(".attributes-info-add").click(function(){
    $(this).hide();
  });

  //Remove Confirmation
  
  $("body").on("click",".remove_nested_field",function(){
    if (confirm("Are you sure? This will delete the entire Section and all your changes will be lost.")) {      
      if (($(this).data("success")) || ($(this).data("association")=="skills") || ($(this).data("association")=="others")){

        if (($(this).hasClass("remove_columns")) || ($($(this).parents().eq(3)).find(".fields").filter(function() { return $(this).css("display") == "block" }).length==1)){
          $($(this).parents().eq(4).hide()).after('<li class="ui-state-default sections"><a class="btn btn-default add_section">Undo '+$(this).data("association")+'</a></li>');
        }
        else{
          if($(this).hasClass("remove_education")){
            $($(this).parent().hide()).after('<li class="ui-state-default sections" section='+$(this).data("association")+'><a class="btn btn-default add_section">Add New '+$(this).data("association")+' Section</a></li>');
            
          }
          else{
            $(this).trigger();
          }
        }
      }else{
        $(this).trigger();
      }
    }
      return false;
  });
 
  
  $(document).on('click','.get_columns',function(){
    // debugger
    $($(this).parents().eq(2).find('.nested_skill_attr')).each(function(index){return this.value=index})
    $($(this).parents().eq(2).find('.nested_theatre_attr')).each(function(index){return this.value=index})  
    $($(this).parents().eq(2).find('.nested_education_attr')).each(function(index){return this.value=index})
    $($(this).parents().eq(2).find('.nested_repr_attr')).each(function(index){return this.value=index})
    $($(this).parents().eq(2).find('.nested_custom_attr')).each(function(index){return this.value=index})    
    $($(this).parents().eq(2).find('.nested_other_attr')).each(function(index){return this.value=index})

    var columns=$('.education').filter(function() { return $(this).css("display") == "block" }).map(function(){if (this.value!=''){return this.value}}).get();
    var positions=$('.education').filter(function() { return $(this).css("display") == "block" }).map(function(){if (this.value!=''){return this.id}}).get();
    var custom_cols=$('.custom_cols').filter(function() { return $(this).css("display") == "block" }).map(function(){if (this.value!=''){return this.value}}).get();
    var custom_pos=$('.custom_cols').filter(function() { return $(this).css("display") == "block" }).map(function(){if (this.value!=''){return this.id}}).get();
    var repr_cols=$('.repr_cols').filter(function() { return $(this).css("display") == "block" }).map(function(){if (this.value!=''){return this.value}}).get();
    var repr_pos=$('.repr_cols').filter(function() { return $(this).css("display") == "block" }).map(function(){if (this.value!=''){return this.id}}).get();
    
    $('.rtable_cols').html("<input type='hidden' name='column' value='"+columns+"'><input type='hidden' name='positions' value='"+positions+"'>").append("<input type='hidden' name='custom_cols' value='"+custom_cols+"'><input type='hidden' name='custom_pos' value='"+custom_pos+"'><input type='hidden' name='repr_cols' value='"+repr_cols+"'><input type='hidden' name='repr_pos' value='"+repr_pos+"'>")
    // debugger
    $($(this).parents().eq(2)).find(".sections.education .form-control").filter(function() { return $(this).css("display") == "none" }).map(function(){return this.value=''})
    $($(this).parents().eq(2)).find(".sections.customs .form-control").filter(function() { return $(this).css("display") == "none" }).map(function(){return this.value=''})
    $($(this).parents().eq(2)).find(".sections.representation .form-control").filter(function() { return $(this).css("display") == "none" }).map(function(){return this.value=''})
    // return false
    $($(this).parents().eq(2)).find(".sections.others .fields").filter(function() { 
      if ($(this).css("display") == "none"){
        $(this).find('.form-control').val('')
      }
    })    
    $('.ui-state-default').find('input.resume_section').map(function(index){return this.value=index})
    // get_status()
    // return get_status()
  });

  $(document).on("click",".remove_others",function(){
    $(this).parents().eq(2).hide().after( "<div align='right'><input type='button' name='undo' value='Undo' class='show_others'></div>" );
  });

  $(document).on("click",".show_others",function(){
    $(this).parent().hide().prev().show();
  });

  $(document).on("click",'.tag',function(){
    if ($('.sections.others').find('.tag').length==0){
      $('.sections.others').hide().after('<li class="ui-state-default sections"><a class="btn btn-default add_other_section">Undo others</a></li>');
    }
  })

  $('.ui-state-default.sections.others').keyup(function(e){    
    if(e.keyCode == 8){
       // user has pressed backspace
      if ($('.sections.others').find('.tag').length==0){
        $('.sections.others').hide().after('<li class="ui-state-default sections"><a class="btn btn-default add_other_section">Undo others</a></li>');
      }
    }    
  });


  // function get_status(){
  //   var stats=true
  //   $.ajax({
  //     method: "GET",    
  //     url: "/resumes/find_user_role",
  //     async : false,
  //     success: function(status){        
  //       var prices="<%= escape_javascript(render('/resumes/nested/payment_form') )%>"
  //       if (status) {
  //         $('.photo-popover').show().html(prices)
  //         stats=false
  //       }
  //     }
  //   })
  //   return stats
  // }



  $("body").on("click",".cross_icon1",function(){
    // $(this).parents().eq(1).remove()
  })
  // var edu_clone = [];
  // $(document).ready(function(){
  //    edu_clone.push($("#resume_section_1").clone());
  // });  
  

  $(document).on("click",".add_other_section",function(){
    $(this).parent().hide()
    $('.sections.others').show().find(".fields").map(function(index){ if (index!=0) {return $(this).hide()}})
  })

  $(document).on("click",".add_nested_fields",function(){
    // debugger
    // var obj = {};
    // obj=["education","custom_cols"]
    // $.each(obj, function(key, value)
    // {

    //     // document.writeln('<li>[' + key + ']: ' + value + "</li>\n");
    // });
  // debugger
    $( ".datepicker" ).datepicker();
    $($($(this).parent().find(".education")).filter(function() { return $(this).css("display") == "none" })).map(function(){return $(this).parents().eq(3).find(".col"+this.id).hide()});
    $($($(this).parent().find(".custom_cols")).filter(function() { return $(this).css("display") == "none" })).map(function(){return $(this).parents().eq(3).find(".col"+this.id).hide()});
    $($($(this).parent().find(".repr_cols")).filter(function() { return $(this).css("display") == "none" })).map(function(){return $(this).parents().eq(3).find(".col"+this.id).hide()});
    // tags()
  })

  // $(document).on("click",".remove_cols",function(){    
  //   ($(this).text()=="Remove") ? ($(this).text("Undo")) : ($(this).text("Remove"))
  //   $(this).parents().eq(3).find("."+this.id+"").toggle()
  //     // .filter(function() { return $(this).css("display") == "block" }).length!=0) ?  $(this).text("Remove") : $(this).text("Undo")
  //   var arr=$($(this).parents().eq(1).find('.remove_cols').map(function(e){return $(this).text()})).get();
  //   if (arr.indexOf("Remove")==-1){    
  //     $($(this).parents().eq(3).hide()).after('<li class="ui-state-default sections"><a class="btn btn-default add_section">Undo '+$(this).data("association")+'</a></li>');
  //     // $(this).parent().parent().parent().parent().find('.fields').slice(0,12).css("display","block")
  //     $(this).parents().eq(1).find('.remove_cols').map(function(){return $(this).text("Remove")});
  //   }
  // });
  $(function () {
    window.NestedFormEvents.prototype.insertFields = function(content, assoc, link) {
    var $tr = $(link).closest('table').find('tbody tr:last');
    var new_id = new Date().getTime();
    var new_tr = $($tr).clone();
    var count = new_tr.find('td').length;
    if(count>1){
    new_tr.find('td').each(function(i,el){
        var tr_input = $(el).find('input');
        tr_input.attr('placeholder','').val('');
        var id_val = tr_input.attr('id');
        console.log(id_val);
        if(i<6){
          
          if(id_val=="1"||id_val=="2"||id_val=="3"||id_val=="4"||id_val=="5"||id_val=="6"){
            var name = tr_input.attr('name');
            var new_name = "resume[educations_attributes]["+new_id+"]["+name+"]";
            tr_input.attr('name',new_name);
            tr_input.attr('id',"resume_educations_attributes_"+new_id+"_"+name);
            
          }
          else{
            var id_arr = id_val.split("_");
            id_arr[3] = new_id; 
            var new_name = id_arr[0]+"["+id_arr[1]+"_"+id_arr[2]+"]"+"["+id_arr[3]+"]"+"["+id_arr[4]+"]";
            tr_input.attr('name',new_name);
            $(el).find('input').attr('id',id_arr.join("_"));
            
        } 
      } 
    });
    new_tr = "<tr class='fields'>"+new_tr.html()+"</tr>";
    return $(new_tr).insertAfter($tr);
  }
  else{
    var in_val = $(link).closest('table').parent().find('input.resume_section.section_heading').val();
    if(in_val =='Representation'){
      $(link).closest('table').find("thead").html("<%=escape_javascript render('resumes/nested/representation_cols_remove',:section=>'representations')%>");
    }
    else{  
    $(link).closest('table').find("thead").html("<%=escape_javascript render('resumes/nested/education_cols_remove',:section=>'educations')%>");
   }
    return $(link).closest('table').find("tbody").html(content);
    // return $(content).insertAfter(tbody);
  }
   }
  });
  $(document).on("click",".add_cols",function(){
    var table  = $(this).closest('table');
    var count = table.find('tbody tr:last').find('td.drag-enable').length;
    var new_id = new Date().getTime();
    if(count==0){
      $(table).find('tr').each(function (i,el) {
        if(i==0){
          $(el).find("th:nth-last-child(1)").before("<th class='col-sm-2 drag-enable'><div class='table-handle'></div><a class='btn btn-default remove_cols' id='col"+new_id+"' title='Remove Column' data-association='educations'>-</a></th>");
        }
        else{
          $(el).find("td:nth-last-child(1)").before("<td class='col-sm-2 drag-enable'><input class='form-control diminished-font educations col"+new_id+"' id='resume_educations_attributes_"+new_id+"_x' name='' value='' placeholder='' type='text'/></td>");
        }
      });  
      
    }
    else{
      if(count<6 && count>0)
      {
        $(table).find('tr').each(function (i,el) {
          if(i==0){
            $(el).find("th:nth-last-child(2)").after("<th class='col-sm-2 drag-enable'><div class='table-handle'></div><a class='btn btn-default remove_cols' id='col"+new_id+"' title='Remove Column' data-association='educations'>-</a></th>");
          }
          else{
            $(el).find("td:nth-last-child(2)").after("<td class='col-sm-2 drag-enable'><input class='form-control diminished-font educations col"+new_id+"' id='resume_educations_attributes_"+new_id+"_x' name='' value='' placeholder='' type='text'/></td>");
          }  
        });
        
      }
      else{
        if(count==6){
          alert('You cannot add more columns');
        }
      }  
    }
  });

  $(document).on("click",".remove_cols",function(){    
    // ($(this).text()=="-") ? ($(this).text("X")) : ($(this).text("-"))
    if (confirm("Are you sure?")) {      
      var id = $(this).attr('id');
      var assoc = $(this).data("association");
      var my_attr = "."+ assoc +"."+ id;
      $(my_attr).parent().remove();
      $(this).parent().remove();
    }  
  }); 
  $(document).on("click",".remove_row",function(){
      $(this).closest('tr').remove();
  }) ;

  $(window).on('load',function(){
    var col5=$(".custom.col5").map(function(){if (this.value!=''){return this.value}})
    var col6=$(".custom.col6").map(function(){if (this.value!=''){return this.value}})
    if (col5.length!=0){$(".custom.col5").map(function(){return $(this).css("display","block")})}else{$('.custom.col5').hide();}
    if (col6.length!=0){$(".custom.col6").map(function(){return $(this).css("display","block")})}else{$('.custom.col6').hide();}
   
    var $modules = $('#sort-section .ui-state-default');
    var order = "<%=@section_order if @section_order.present? %>"

    var wrapper = document.getElementById('sort-section');
    for (var i = 0, l = order.length; i < l; i++) {
        wrapper.appendChild($modules.get(order[i]-1));
    }

    // $('.custom').slice(0,2).map(function(){
    //   that=this
    //   $('.custom').map(function(){
    //     var df+that.id=$(".custom.col"+that.id).map(function(){return this.value})
    //     return false
    //   })
    // })
    
  }); 

  $("body").on("change","#files-input",function(){
    // debugger
    get_status();
  });

  $("body").on("click",".new_theatre",function(){
    // debugger
    // var inputs=$(".theatre_inputs").map(function(){return this.value})
    var id=$.now()
    $(".theatre_id").val(id)
    $(".new_theatre_resumes").submit()
    return false;

    // $.ajax({
    //   method: "GET",
    //   url: "<%=new_theatre_resumes_path%>",
    //   data: {id: id,production: inputs[0], role: inputs[1] , venue: inputs[2],company: inputs[3],directed_by: inputs[4],performance_date: inputs[5].replace(/\//g,'-'), location: inputs[6]}
    // });
  });

  $("body").on("click",".add-threatre-section",function(){
    var theatre="<%= escape_javascript (render 'resumes/nested/theatre') %>"    
    $(".photo-popover1").show().html(theatre)
  });
  </script>
  <script type="text/javascript">
    $(document).on("click",".add-new-production",function(){  
      var a = $("#add-org-text").text()
       $.ajax({
              url: "<%=new_production_path%>",
              method: "get",
               data:  { name: a } 
          });
    });
    $(document).on("click",".add-new-venue",function(){  
      var a = $("#add-venue-text").text()
       $.ajax({
              url: "<%=new_venue_path%>",
              method: "get",
               data:  { name: a } 
          });
    });

    $(document).on("click",".add-new-company",function(){
      var a = $("#add-company-text").text()
       $.ajax({
              url: "<%=new_company_path%>",
              method: "get",
               data:  { name: a } 
          });
    });

    $(document).on("click",".add-new-director",function(){
      var a = $("#add-director-text").text()
       $.ajax({
              url: "<%=new_director_path%>",
              method: "get",
               data:  { name: a } 
          });
    });

    $(document).on("click",".remove_new_theatre",function(){
      $(this).parents().eq(1).remove()
    });

  </script>
  <%if params[:action]!="edit"%>
    <script>
      function get_status(){
        var stats=true
        $.ajax({
          method: "GET",    
          url: "/resumes/find_user_role",
          async : false,
          success: function(status){        
            var prices="<%= escape_javascript(render('/resumes/nested/payment_form') )%>"
            if (status) {
              $('.photo-popover').show().html(prices)
              stats=false
            }
          }
        })
        return stats
      }
    </script>
  <%end%>  
<%#end%>
