<div id="add-resume">
  <%= form_for(@resume, html: {class: 'form-inline'}) do |f| %>

  <div class="container-fluid m-top-20">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <h4>
                  <span>Organize theatre table</span>
                  <%= link_to @resume do %>
                    <button class="btn btn-primary pull-right m-top-m6" type="button">Done</button>
                  <% end %>
                </h4>
                <br />
              </div>
            </div>



            <div class="row">
              <div class="col-md-2">
                <strong>Production</strong> <i class="fa fa-arrows-h text-pale"></i>
              </div>
              <div class="col-md-2">
                <strong>Role</strong> <i class="fa fa-arrows-h text-pale"></i>
              </div>
              <div class="col-md-2">
                <strong>Director</strong> <i class="fa fa-arrows-h text-pale"></i>
              </div>
              <div class="col-md-2">
                <strong>Venue</strong> <i class="fa fa-arrows-h text-pale"></i>
              </div>
              <div class="col-md-2">
                <strong>Company</strong>
                <i class="fa fa-arrows-h text-pale"></i>
                <a href="#"><i class="fa fa-check-square-o text-pale"></i></a>
              </div>
              <div class="col-md-2">
                <strong>Custom</strong>
                <i class="fa fa-arrows-h text-pale"></i>
                <a href="#"><i class="fa fa-square-o text-pale"></i></a>
              </div>
            </div>

            <% @resume.roles.select{|r| !r.new_record?}.each do |role| %>
            <div class="h-movable row">
              <div class="col-md-2">
                <%= role.production_name %>
              </div>
              <div class="col-md-2">
                <%= role.name %>
              </div>
              <div class="col-md-2">
                <%= role.director_name %>
              </div>
              <div class="col-md-2">
                <%= role.production_company_name %>
              </div>
              <div class="col-md-2">
                <%= role.production_name %>
              </div>
              <div class="col-md-1">
                <a href="#"></a>
              </div>
              <div class="col-md-1 actions">

                <%= link_to [@resume, role], method: :delete, data: { confirm: "Delete role #{role.name}?" } do %>
                  <i class="fa fa-trash-o text-pale pull-right"></i>
                <% end %>
                <i class="fa fa-arrows-v text-pale pull-right"></i>
              </div>
            </div>
            <% end %>

            <div class="row">
              <div class="col-md-12">
                <%= link_to 'Add Credit', 'javascript:void(0)', {id: "add-resume-role-link", class: "btn btn-primary m-top-10"} %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">

          <h4>
            <span>New role</span>
          </h4>

          <% if @resume.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@resume.errors.count, "error") %> prohibited this resume from being saved:</h2>

              <ul>
              <% @resume.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>


          <%= f.fields_for :roles do |fs| %>
            <% if fs.object.new_record? %>
            <div class="form-group">
              <div class="field">
                <%# fs.label :production %>
                <%= fs.collection_select :production_id, Production.all.order(:name), :id, :key_info, {prompt: 'Select production'}, {id: 'resume_role_production_id', class: "form-control chosen-select"} %>
                <%= link_to "New", 'javascript:void(0)', {:class => 'extend-list'} %>
              </div>
            </div>
            <div class="form-group">
              <div class="field">
                <%# fs.label :name, "Role", {style: "display: block; visibility: hidden"} %>
                <%= fs.text_field :name, {class: 'form-control', placeholder: 'Role'} %>
              </div>
            </div>
            <div class="form-group pull-right" style="margin-right: 0px">
              <div class="actions field ">
                <%# f.label 'Actions', {style: "display: block; visibility: hidden"} %>
                <%= f.button "Add", {class: "btn btn-primary"} %>
              </div>
            </div>
            <% end %>
          <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>



  <% end %>
</div>

<div id="add-resume-production">
  <%= render 'productions/form', :remoteForm => true, :queryFormat => 'json', :html_class => 'production_form' %>
</div>
<div class="fade fade-1"></div>

<div id="add-resume-role" class="overlay overlay-1" data-reload-url="<%= edit_resume_url(@resume) %>" style="display: none">
  <%= render 'roles/form' %>
</div>
<div class="fade fade-1"></div>