<div class="row" id="section_slot_<%= section_slot.id %>">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <h4>
              <span><%= section_slot.id %></span>
            </h4>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row m-bottom-20">
          <div class="col-md-12">
            <i class="fa fa-arrows pull-right text-pale top-right-handle"></i>
            <h4>
              <span><%= section_slot.section.title %></span>
              <%= link_to edit_polymorphic_path(section_slot.section) do %>
              <!--< %= link_to edit_education_table_path(section_slot.section) do %>-->
                <button type="button" class="btn btn-primary pull-right m-top-m6">Edit</button>
              <% end %>
            </h4>
            <br>
            <%= render partial: 'rtables/columns', locals: {table: section_slot.section} %>

            <% section_slot.section.rtable_items.each do |line| %>
              <div class="h-movable row">
                <% line.values.each do |cell| %>
                  <div class="col-md-2">
                    <%= cell %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

