<div class="container-fluid m-top-20">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body" id="show-resume">
          <section class="list-resumes">
       
         <% @resumes.performing_artist.each_with_index do |resume,index| %>             
              <h4><%=resume.try(:resume_name).titleize%></h4>
              <div class="row">
                 <div class="col-md-4">
                   <%= link_to "Email Resume", email_resume_resumes_path(:id=>resume.id),:class=>"btn btn-primary"%>
                 </div>
                 <div class="col-md-4">
                 <%#= link_to "View As PDF", view_resume_pdf_path(resume),:class=>"btn btn-primary",:target=>'_blank'%>
                   <%= link_to "Save As PDF",download_pdf_resumes_path(:format=>"pdf",:id=>resume.id),:class=>"btn btn-primary",:target=>'_blank'%>
                 </div>
                 <div class="col-md-4"></div>
              </div><br/>
              <div class="row">
                 <div class="col-md-12">                 
                   <%= link_to "Print Resume","javascript:void(0)",:class=>"print btn btn-primary"%>
                 </div>
              </div>
              <br/>

              <div class="row">
                 <div class="col-md-4">
                  <%= link_to 'Edit Resume', edit_resume_path(resume),:class=>"btn btn-primary" %>
                 </div>
                 <div class="col-md-4">
                 <%= link_to 'Delete Resume', resume, method: :delete, data: { confirm: 'Are you sure?' },:class=>"btn btn-primary" %>
                 </div>
                 <div class="col-md-4"></div>
              </div>
           
           <br/><hr/>
         <%end%>
          </section><br/><br/>

          <section class="list-resumes">
        
         <% @resumes.production_member.each_with_index do |resume,index| %>            
               <h4><%=resume.try(:resume_name).titleize%></h4>
              <div class="row">
                 <div class="col-md-4">
                   <%= link_to "Email Resume", email_resume_resumes_path(:id=>resume.id),:class=>"btn btn-primary"%>
                 </div>
                 <div class="col-md-4">
                 <%#= link_to "View As PDF", view_resume_pdf_path(resume),:class=>"btn btn-primary",:target=>'_blank'%>
                   <%= link_to "Save As PDF",download_pdf_resumes_path(:format=>"pdf",:id=>resume.id),:class=>"btn btn-primary",:target=>'_blank'%>
                 </div>
                 <div class="col-md-4"></div>
              </div><br/>
              <div class="row">
                 <div class="col-md-12">                 
                   <%= link_to "Print Resume",view_resume_pdf_path(resume),:class=>"print btn btn-primary"%>
                 </div>
              </div>
              <br/>

              <div class="row">
                 <div class="col-md-4">
                  <%= link_to 'Edit Resume', edit_resume_path(resume),:class=>"btn btn-primary" %>
                 </div>
                 <div class="col-md-4">
                 <%= link_to 'Delete Resume', resume, method: :delete, data: { confirm: 'Are you sure?' },:class=>"btn btn-primary" %>
                 </div>
                 <div class="col-md-4"></div>
              </div>
           
           <br/><hr/>
         <%end%>
         </section>

         <%= render :partial=>'print_popup'%>
        </div>
      </div>
    </div>
  </div>
</div>

