<div class="container-fluid m-top-20">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body" id="show-resume">         
          <section class="list-resumes">            
            <div class="row">
                
              <div class="col-md-3 resume_attribute">
               
                <% if @resume.resume_attribute.try(:age) %>
                <span><strong>Age: <%=@resume.resume_attribute.age%> </strong></span><br/>
                <%end%>
                <% if @resume.resume_attribute.try(:height) %>
                <span><strong>Height: <%=@resume.resume_attribute.height%> </strong></span><br/>
                <%end%>
                <% if @resume.resume_attribute.try(:weight) %>
                 <span><strong>Weight: <%=@resume.resume_attribute.weight%>  </strong></span><br/>
                 <%end%>
                  <% if @resume.resume_attribute.try(:hair_color) %>
                 <span><strong>Hair Color: <%=@resume.resume_attribute.hair_color.capitalize%>  </strong></span><br/>
                 <%end%>
                 <% if @resume.resume_attribute.try(:hair_lenght) %>
                 <span><strong>Hair Length: <%=@resume.resume_attribute.hair_lenght%></strong>  </span><br/>
                 <% end %>
                 <% if @resume.resume_attribute.try(:eye_color) %>
                 <span><strong>Eyes: <%=@resume.resume_attribute.eye_color.capitalize%></strong>  </span><br/>
                 <%end%>
                 <% if @resume.resume_attribute.try(:vocal_range) %>
                 <span><strong>Voice: <%=@resume.resume_attribute.vocal_range.capitalize%></strong>  </span><br/>
                 <%end%>
                 <%if @resume.resume_attribute.try(:ethnicity) %>
                 <span><strong>Ethnicity: <%=@resume.resume_attribute.ethnicity.capitalize%></strong>  </span><br/>
                 <%end%>
               </div>

               
              <div class="col-md-4 contact_block">
                 <h2><%=@resume.contact_info.nick_name.upcase%></h2>
                 <h4><%=@resume.try(:performer_type).upcase%></h4>
                 <h5><%=@resume.try(:union_guild).upcase%></h5>
                 
                 <br/>
                 <span><strong><%=@resume.contact_info.try(:email)%> </strong></span><br/>
               
                <span><strong><%=@resume.contact_info.try(:facebook)%></strong></span><br/>
                <span><strong><%=@resume.contact_info.try(:twitter)%></strong></span><br/>
                <span><strong><%=@resume.contact_info.try(:linkedin)%></strong></span><br/>
                <span><strong><%=@resume.contact_info.try(:address)%></strong></span><br/>
                 <span><strong><%=@resume.contact_info.try(:phone1)%> </strong></span><br/>
               </div>

                <div class="col-md-4">
                 <%= image_tag @resume.image.try(:url),:style=>"width: 250px;"%>
               </div>
              
                
             </div>
                   
            </section>
            <br/> 
            <!-- <hr/> -->
             <section class="list-resumes">
                <h3>Representation:</h3>
              
                     <% @resume.representations.each do |representation|%>
                      <div class="row">
                        <div class="col-md-2"><%= representation.company %></div>
                        <div class="col-md-2"><%= representation.contact_name %></div>
                        <div class="col-md-2"><%= representation.title  %></div>
                        <div class="col-md-2"><%= representation.phone  %></div>
                        <div class="col-md-2"><%= representation.address  %></div>
                      </div>
                      <%end%>                 
              </section><br />



            <section class="list-resumes">
              <h3>THEATRE</h3>
             
                <% @resume.roles.each do |theatre|%>
                <div class="row">
                  <div class="col-md-3"><%= link_to theatre.production_name.upcase,theatre.production ,:target=>"_blank" if !theatre.production.blank?%></div>
                  <div class="col-md-3"><%= theatre.name.capitalize%></div>
                  <div class="col-md-3"><%= theatre.director_name.capitalize%></div>
                  <div class="col-md-3"><%= get_venue_and_company(theatre) %></div>
                </div>
                <%end%>
              
            </section ><br/>
            
            <section class="list-resumes">
              <h3>TRAINING</h3>
              
                   <% @resume.educations.each do |education|%>
                    <div class="row">
                      <div class="col-md-2"><%= education.school.capitalize %></div>
                      <div class="col-md-2"><%= education.city.capitalize %></div>
                      <div class="col-md-2"><%= education.state.capitalize  %></div>
                      <div class="col-md-2"><%= education.country.capitalize  %></div>
                      <div class="col-md-2"><%= education.degree.capitalize  %></div>
                      <div class="col-md-2"><%= education.year%></div>
                    </div> 
                    <%end%>                 
            </section><br/>
     
            <!-- <%#if @resume.resume_type== "Performing Artist"%> -->
             <!--  <section class="list-resumes">
                <h3>Attributes:</h3>
                  <div data-example-id="striped-table" class="bs-example">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Gender</th>
                          <th>Age</th>
                          <th>Height</th>
                          <th>Weight</th>
                          <th>Hair color</th>
                          <th>Hair Lenght</th>
                          <th>Eye color</th>
                          <th>Vocal Range</th>
                          <th>Ethnicity</th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><%#= @resume.try(:resume_attribute).try(:gender) %></td>
                          <td><%#= @resume.try(:resume_attribute).try(:age) %></td>
                          <td><%#= @resume.try(:resume_attribute).try(:height) %></td>
                          <td><%#= @resume.try(:resume_attribute).try(:weight) %></td>
                          <td><%#= @resume.try(:resume_attribute).try(:hair_color) %></td>
                          <td><%#= @resume.try(:resume_attribute).try(:hair_lenght) %></td>
                          <td><%#= @resume.try(:resume_attribute).try(:eye_color) %></td>
                          <td><%#= @resume.try(:resume_attribute).try(:vocal_range) %></td>
                          <td><%#= @resume.try(:resume_attribute).try(:ethnicity) %></td>
                        </tr>                  
                      </tbody>
                    </table>
                  </div> 
                </section> -->
              <!-- <%#end%><br/> -->
            
           <!--  <h3>Contact Info</h3>
            <div data-example-id="striped-table" class="bs-example">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Nick Name</th>
                    <th>First Name</th>
                    <th>Middle Name</th>
                    <th>Last Name</th>
                    <th>Suffix</th>
                    <th>Street Address 2</th>
                    <th>street Address 2</th>
                    <th>city</th>
                    <th>State</th>
                    <th>Zip Code</th>
                    <th>Country</th>
                    <th>Email</th>
                    <th>Website</th>
                    <th>Facebook</th>
                    <th>Twitter</th>
                    <th>Linkedin</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><%= @resume.contact_info.nick_name %></td>
                    <td><%= @resume.contact_info.first_name %></td>
                    <td><%= @resume.contact_info.middle_name %></td>
                    <td><%= @resume.contact_info.last_name %></td>
                    <td><%= @resume.contact_info.suffix %></td>
                    <td><%= @resume.contact_info.street_address1 %></td>
                    <td><%= @resume.contact_info.street_address2 %></td>
                    <td><%= @resume.contact_info.city %></td>
                    <td><%= @resume.contact_info.state %></td>
                    <td><%= @resume.contact_info.zip_code %></td>
                    <td><%= @resume.contact_info.country %></td>
                    <td><%= @resume.contact_info.email %></td>
                    <td><%= @resume.contact_info.website %></td>
                    <td><%= @resume.contact_info.facebook %></td>
                    <td><%= @resume.contact_info.twitter %></td>
                    <td><%= @resume.contact_info.linkedin %></td>
                  </tr>              
                </tbody>
              </table>
            </div> -->     
                
                
             

              <section class="list-resumes">
                <h3>SPECIAL SKILLS</h3>
                <div data-example-id="striped-table" class="bs-example">
                <p>
                    
                       <%#= skill.category.try(:name) %>
                        <li style="list-style-type: none;"><%= @resume.skills.map { |tag| tag.skills.capitalize }.join(', ')  if !@resume.skills.blank?%></li>
                     
                </p>
                </div>
              </section><br />

              <section class="list-resumes">
              <h3>Custom:</h3>
             
                  <%#=render 'resumes/nested/final_education_fields',:e=>@resume,:cust=>"custom"%>
                   <% @resume.customs.each do |custom|%>
                    <div class="row">
                      <div class="col-md-2"><%= custom.custom1 %></div>
                      <div class="col-md-2"><%= custom.custom2 %></div>
                      <div class="col-md-2"><%= custom.custom3  %></div>
                      <div class="col-md-2"><%= custom.custom4  %></div>
                      <div class="col-md-2"><%= custom.custom5  %></div>
                      <div class="col-md-2"><%= custom.custom6  %></div>
                    </div> 
                    <%end%>
            </section><br/>

            <section class="list-resumes">
              <h3>Other:</h3>
           
            <li style="list-style-type: none;"><%= @resume.others.map { |tag| tag.content.capitalize }.join(', ')  if !@resume.others.blank?%></li>
            </section><br />

            </div>
            
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="section_slot" data-update-url="<%= sort_section_slots_url %>">
  <%# @resume.section_slots.each do |section_slot| %>
    <%#= render partial: 'section_slot', locals: {section_slot: section_slot} %>
  <%# end %>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <!--<button type="button" class="btn btn-primary m-top-m6">Add a skills section</button>-->
      <%#= link_to add_resume_table_path(@resume), method: :post do %>
        <!-- <button type="button" class="btn btn-primary m-top-m6">Add a custom section</button> -->
      <%# end %>
    </div>
  </div>
</div>
<style type="text/css">
  .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th{
     background-color: white ;
  }
</style>