<div class="container-fluid m-top-20">
  <div class="col-md-2">
    <%= link_to edit_resume_path(@resume),:class=>"form-control btn btn-primary" do%>
       <i class="fa fa-edit">Edit Resume</i>
    <%end%>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body" id="show-resume">         
          <section class="list-resumes">            
            <div class="row">
                
              <div class="col-md-3 resume_attribute">
               <%= show_attribute(@resume)%>
               
               </div>

               
              <div class="col-md-5 contact_block">
                 <h2><%=@resume.contact_info.nick_name.upcase%></h2>
                 <% if @resume.try(:performer_type).present?%>
                  <h4><%=@resume.try(:performer_type).upcase%></h4>
                 <%end%>
                 <% if @resume.try(:union_guild).present?%>
                  <h5><%=@resume.try(:union_guild).upcase%></h5>
                <%end%>

                <br/>
                 <% if (@resume.image.file? && @resume.resume_type == 'Performing Artist') || ( !@resume.image.file? && (@resume.resume_type == 'Production Member' || @resume.resume_type == 'Director'))%>
 
                  
                
                  
                   <%= render 'resumes/show_contact_info',:@resume=>@resume%>
                 <%end%>
                
               </div>

                <div class="col-md-4 image_section">
                 <%=show_image(@resume)%>
               </div>
              
                
             </div>
                   
            </section>
          
            <!-- <hr/> -->
             <section class="list-resumes">
              <div class="row">
                <strong><div class="col-md-2"><%=@resume.resume_sections.where(:section_id=>1).first.try(:section_name)%>:</div></strong>
              
                     <% @resume.representations.each do |representation|%>
                     
                      
                      <div class="col-md-10 area_text"><%= h representation.rcolumns %></div>
                      
              </div>
                      <%end%>                 
              </section><br />



            <section class="list-resumes">
              <strong>Theatre</strong>
              <%=render 'resumes/nested/theatre_fields'%>
                <% @resume.roles.each do |theatre|%>
                <div class="row">
                  <div class="col-md-3"><%= link_to theatre.production_name.upcase,theatre.production ,:target=>"_blank" if !theatre.production.blank?%></div>
                  <div class="col-md-2"><%= theatre.name.capitalize%></div>
                  <div class="col-md-2"><%= theatre.director_name.capitalize%></div>
                  <div class="col-md-4"><%= get_venue_and_company(theatre) %></div>
                </div>
                <%end%>
              
            </section ><br/>
            
            <section class="list-resumes">
              <strong><%=@resume.resume_sections.where(:section_id=>2).first.try(:section_name)%></strong>
              
                   <% @resume.educations.each_with_index do |education,index|%>
                    <div class="row">
                      <% education.ecolumns.each do |col|%>
                      <div class="<%=get_title_row_class(index)%>" id="<%=get_title_row_bold(index)%>"><%= col %></div>
                      <%end%>
                    </div> 
                    <%end%>                 
            </section>
            <br/>
     
            
              <section class="list-resumes">
                <strong><%=@resume.resume_sections.where(:section_id=>3).first.try(:section_name)%></strong>
                <div class="area_text">
                  <%= h @resume.skills.map { |tag| tag.skills.capitalize }.join(', ')  if !@resume.skills.blank?%>
                      
                 </div>
              </section><br />

              <section class="list-resumes">
              <strong><%=@resume.resume_sections.where(:section_id=>4).first.try(:section_name)%></strong>
             
                  <%#=render 'resumes/nested/final_education_fields',:e=>@resume,:cust=>"custom"%>
                   <% @resume.customs.each_with_index do |custom,index|%>
                    <div class="row">
                     <% custom.ccolumns.each do |col|%>
                      <div class="<%=get_title_row_class(index)%>" id="<%=get_title_row_bold(index)%>"><%= col %></div>
                      <%end%>
                    </div> 
                    <%end%>
            </section><br/>

            <section class="list-resumes">
              <strong><%=@resume.resume_sections.where(:section_id=>5).first.try(:section_name)%></strong>
                <div class="area_text">
                   <%= h @resume.others.map { |tag| tag.content }.join(', ')  if !@resume.others.blank?%>
                </div>
           
            </section><br />

            </div>
            
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="section_slot" data-update-url="<%= sort_section_slots_url %>">
  <%# @resume.section_slots.each do |section_slot| %>
    <%#= render partial: 'section_slot', locals: {section_slot: section_slot} %>
  <%# end %>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <!--<button type="button" class="btn btn-primary m-top-m6">Add a skills section</button>-->
      <%#= link_to add_resume_table_path(@resume), method: :post do %>
        <!-- <button type="button" class="btn btn-primary m-top-m6">Add a custom section</button> -->
      <%# end %>
    </div>
  </div>
</div>
<style type="text/css">
  .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th{
     background-color: white ;
  }
</style>