<div class="container-fluid m-top-20">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <h3>
                <span>Resume #<%= @resume.id %></span>
              </h3>
              <br />
            </div>
            <div class="col-md-12">
              <h4>
                <span>Theatre</span>
                <%= link_to edit_resume_path @resume do %>
                  <button class="btn btn-primary pull-right m-top-m6" type="button">Edit</button>
                <% end %>
              </h4>
              <br />
            </div>
          </div>


          <div class="row">
            <div class="col-md-2">
              <strong>Production</strong>
            </div>
            <div class="col-md-2">
              <strong>Role</strong>
            </div>
            <div class="col-md-2">
              <strong>Director</strong>
            </div>
            <div class="col-md-2">
              <strong>Venue</strong>
            </div>
            <div class="col-md-2">
              <strong>Company</strong>
            </div>
            <div class="col-md-2">
              <strong>Custom</strong>
            </div>
          </div>

          <% @resume.roles.each do |role| %>
            <div class="h-movable row diminished-font">
              <div class="col-md-2">
                <%= link_to role.production_name.upcase, role.production %>
              </div>
              <div class="col-md-2">
                <%= role.name %>
              </div>
              <div class="col-md-2">
                <%= role.director_name %>
              </div>
              <div class="col-md-2">
                <%= link_to role.production_current_venue_name, role.production_current_venue  %>
              </div>
              <div class="col-md-2">
                <%= link_to role.production_company_name, role.production_company  %>
              </div>
              <div class="col-md-2">
                <a href="#"></a>
              </div>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="section_slot" data-update-url="<%= sort_section_slots_url %>">

  <% @resume.section_slots.each do |section_slot| %>
    <%# render partial: 'section_slot', locals: {section_slot: section_slot} %>
  <% end %>


</div>
