<footer class="footer">   
	<!-- <ul>
		<li><a href="/about">About Us</a></li>		
		<li><a href="/faq">FAQ</a></li>
		<li><a href="/terms_and_conditions">Terms and Conditions</a></li>
		<li><a href="/privacy">Privacy</a></li>
		<li><a href="/copyright">copyright purposes</a></li>
        <li><a href="/contact">Contact</a></li>
	</ul> -->
  <div id="copyright">
    <%= link_to 'copyright 2016@ArtistMagnet', "/copyright" %>
  </div> 
  <div id="links">
    <%= link_to 'About Us', "/about" %>
    /
    <%= link_to 'Contact Us', "/contact" %>
    /
    <%= link_to 'FAQ', "/faq" %>
    /
    <%= link_to 'Terms and Conditions', "/terms_and_conditions" %>
  </div>
</footer>