<!DOCTYPE html>
<html>
  <head>
    <title>Artist Magnet</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
    <%= javascript_include_tag 'application' %>
    
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,400italic%7cMontserrat:400,700" type="text/css">
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Lato:400,300,700' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <!-- <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.0.js"></script> -->
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <p class="notice" style="display: none"><%= notice %></p>
    <p class="alert" style="display: none"><%= alert %></p>

    <!-- Page container -->
    <% unless params[:print] %>  
      <% if user_signed_in? %>
        <%@style = params[:print] ? "padding-left:0;" : "" %>
        <div id="main-container" class="page-container" style="<%=@style%>">
          <%= render 'layouts/includes/sidebar' %>
      
      <%# else %>
      <%#= render 'layouts/includes/sidebar' %>
      <% end %>
    <% end %>
      <!-- Content -->
      <div id="content">
        <div class="container-fluid p-top-20">
          <div class="row">
            <div class="col-md-12">
              <div class="flash-message">
                <%= render 'layouts/includes/notice' %>
              </div>
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    <% if user_signed_in? %>
      </div>
    <% end %>
  <!-- /Page container -->
  <% unless params[:print] %>
    <%= render "layouts/footer"%>
  <%end%>  
  </body>
</html>
