<!DOCTYPE html>
<html>
<head>
  <title>Artist Magnet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <h3><%= link_to 'Artist magnet', root_path, style: "text-decoration: none" %> <br /></h3>


  <%= yield %>

</body>
</html>
