<!DOCTYPE html>
<html>
  <head>
    <title>Artist Magnet</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
    <%= javascript_include_tag 'application' %>
    
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,400italic%7cMontserrat:400,700" type="text/css">
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Lato:400,300,700' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <!-- <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.0.js"></script> -->
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/assets/modernizr.js"></script>
    <script type="text/javascript" src="/assets/responsee.js"></script>
    <script type="text/javascript" src="/assets/popup.js"></script>
    <%= csrf_meta_tags %>
  </head>
  <% if (controller.controller_name == "sessions" or controller.controller_name == "registrations") and controller.action_name == "new" %> <!-- && controller.action_name == "about" -->
    <%= render 'layouts/unauthorized_main' %>
  <% else %>
    <body class="size-1140 align-content-left">
    <div class="line">
      <div id="content-wrapper">
        <p class="notice" style="display: none"><%= notice %></p>
        <p class="alert" style="display: none"><%= alert %></p>

        <!-- Page container -->
        <% if params[:print].blank? and user_signed_in? %> 
          <div class="s-12 m-4 l-3 lhs-wrapper"> 
            <%= render 'layouts/includes/sidebar' %>
          </div>
          <% container_2a_classes = ["s-12", "m-8", "l-9"] %>
        <% end %>
        
        
        <!-- Content -->
        <%= content_tag(:div, class: ["container_2a"].push(container_2a_classes).compact) do
          content_tag(:div, class: "flash-message") do
            render 'layouts/includes/notice'
            yield
          end
        end %>
        
        <!-- /Page container -->
        <% unless params[:print] %>
          <%= render "layouts/includes/footer"%>
        <%end%>
      </div>
    </div> 
  </body>
  <% end %>
  
  
</html>
