<!DOCTYPE html>
<html>
<head>
  <title>Artist Magnet</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p class="notice" style="display: none"><%= notice %></p>
  <p class="alert" style="display: none"><%= alert %></p>
  <!--<h3>< %= link_to 'Artist magnet', root_path, style: "text-decoration: none" %> <br /></h3>-->

  <!-- Page container -->
  <div class="page-container">

    <%= render 'layouts/includes/sidebar' %>

    <!-- Content -->
    <div id="content" style="min-height: 873px;">

      <%= yield %>

    </div>

  </div>
  <!-- /Page container -->

</body>
</html>
